/* backgrounds of different FTS prodcuts */
.baner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.baner-field {
  background-image: url(../img/field-warrior-pattern-1.png);
}

.baner-route {
  background-image: url(../img/route-matrix-pattern.png);

  & .subtext-baner {
    @include respond(phone) {
      margin-bottom: 30px;
      text-align: center;
    }
  }
}

.baner-monarch {
  background-image: url(../img/monarch-pattern-1.png);
}

.baner-fleetcam {
  background-image: url(../img/bg-fleetcam.png);
}

/* IntelliHub baner */
.baner-intelli {
  background-image: linear-gradient(rgba(4, 73, 89, 0.8), rgba(4, 73, 89, 0.8)),
    url(../img/intellihub-hero-bg.jpg);
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-top: 40px;
  padding-bottom: 260px;
  box-shadow: 0px 2px 10px 0px #5e5e5e;

  &__image {
    margin: 40px 0 10px;
  }

  // &__button {
  //     margin-bottom: 40px;
  // }

  &__fullimg {
    position: relative;
    bottom: 260px;

    @include respond(phone) {
      bottom: 180px;
    }

    &--img {
      width: 100%;
      max-width: 1860px;
      display: inherit;
      margin: 0 auto;
    }
  }
}

.intelli {
  max-height: 500px;
  border-bottom: 1px solid #dbdbdb;
  background-color: #f4f4f4;

  @include respond(tab-land) {
    max-height: 400px;
  }

  @include respond(phone) {
    max-height: 600px;
  }

  @include respond(s-phone) {
    max-height: 700px;
  }
}

/* Baner Fleetcam */

.baner-fleetcam {
  position: relative;

  &__box {
    padding: 190px 0 134px;
    text-align: center;

    @include respond(tab-land) {
      padding: 190px 0 145px;
    }

    // &--img {
    //     margin-bottom: 43px;
    // }

    &--headline {
      // margin-bottom: 20px;
      font-family: "Poppins";
      font-size: 3.6rem;
      font-weight: 400;
      color: #f4f4f4;
    }

    &--text {
      font-family: "Poppins";
      color: #ffffff;
      font-size: 1.6rem;
      line-height: 3.2rem;
      margin: 0 auto 45px;
    }

    &--truck {
      img {
        max-width: 100%;
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        bottom: -350px;

        @include respond(tab-land) {
          padding: 0 20px;
        }

        @include respond(phone) {
          bottom: -200px;
        }
      }
    }
  }
}

/* Baner Driveshield */

.baner__driveshield {
  text-align: center;
  padding: 100px 0 68px;

  @include respond(tab-land) {
    padding: 100px 0 250px;
  }

  @include respond(tab-port) {
    padding: 100px 0 200px;
  }

  @include respond(phone) {
    padding: 100px 0 170px;
  }

  @include respond(s-phone) {
    padding: 100px 0 90px;
  }

  &__box {
    color: #ffffff;

    &__img {
      text-align: center;
      margin-bottom: 30px;
      width: 100%;

      img {
        max-width: 100%;
      }
    }

    &--header {
      font-family: "Poppins";
      color: #414648;
      font-size: 59px;
      font-weight: 400;
      line-height: 71px;
      text-align: center;
      word-spacing: -12px;
      margin-bottom: 20px;

      span {
        font-size: 20px;
      }

      @include respond(s-phone) {
        font-size: 50px;
      }
    }

    &--text {
      font-size: 36px;
      font-weight: 400;
      color: #414648;
      line-height: 48px;
      margin-bottom: 16px;

      span {
        color: #c55220;
      }
    }

    &--subtext {
      margin-bottom: 40px;
      font-family: "Manrope";
      color: $gray-dark;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      max-width: 823px;
      margin-left: auto;
      margin-right: auto;
    }

    &__buttons {
      margin-bottom: 55px;
    }
  }
}

/* baner styles */

.baner-products {
  // padding: 60px 0;
  width: 100%;
  // display: flex;
  // flex-direction: row;
  // align-items: stretch;
  // justify-content: center;
  // flex-wrap: wrap;

  img:nth-child(1) {
    @include respond(phone) {
      margin-bottom: 20px;
      margin-right: 0;
    }
  }

  &--inner {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;

    @include respond(phone) {
      align-items: center;
    }
  }

  &__buttons {
    margin-left: -9px;
    text-align: left;
    flex-direction: row;
    display: flex;

    @include respond(phone) {
      justify-content: center;
    }
  }

  // &__image {
  //     width: 50%;

  //     img {
  //         max-width: 100%;
  //     }
  // }
}
