// #shortcode-6-123{
// 	height: 0;
// 	overflow: hidden;
// 	transition: all .6s ease-in;
// }

// #shortcode-6-123.visible-form::before,
// #shortcode-14-61.visible-form::before {
//     content: '';
//     display: block;
//     position: absolute;
//     width: 100vw;
//     height: 100%;
//     background: #fff;
//     top: 0;
//     left: calc((100vw - 1200px) / -2);
//     z-index: 0;
// }

// @media only screen and (max-width: 76.25em) {
//   #shortcode-6-123.visible-form::before,
//   #shortcode-14-61.visible-form::before {
//     width: 100%;
// 	left: unset;
//   }
// }

// #shortcode-6-123.visible-form #gform_wrapper_1,
// #shortcode-6-123.visible-form #gform_wrapper_5,
// #shortcode-14-61.visible-form #gform_wrapper_5 {
//      position: relative;
// }

// @media only screen and (max-width: 42em) {
//  #shortcode-6-123.visible-form #gform_wrapper_1,
//  #shortcode-6-123.visible-form #gform_wrapper_5,
//  #shortcode-14-61.visible-form #gform_wrapper_5 {
//     padding: 0 10px;
//   }
// }

// #shortcode-6-123.visible-form, 
// #shortcode-14-61.visible-form {
// 	margin-top: 20px;
// 	height: auto;
// 	transition: all .6s ease-in;
// 	width: 100%;
// 	background-color: #ffffff;
// 	position: relative;
//     padding: 20px 0;
//     width: 100%;
//     background-color: #FFFFFF;
//     overflow: visible;
// }

#gform_wrapper_1 .gform_heading,
#gform_wrapper_5 .gform_heading,
#gform_wrapper_6 .gform_heading {
	display: none;
}

#gform_1,
#gform_5 {
	width: 590px;
}

#gf_progressbar_wrapper_1,
#gf_progressbar_wrapper_3,
#gf_progressbar_wrapper_5,
#gf_progressbar_wrapper_6 {
	margin-bottom: 24px;
}

/* !!! */
.gform_legacy_markup_wrapper .gf_progressbar {
	width: 100% !important;
}

#gf_progressbar_wrapper_1 h3,
#gf_progressbar_wrapper_3 h3,
#gf_progressbar_wrapper_5 h3,
#gf_progressbar_wrapper_6 h3 {
	font-size: 14px;
	font-family: 'Manrope';
	font-weight: 400;
	line-height: 19px;
	color: #000000 !important;
}

#gf_progressbar_wrapper_1 .gf_progressbar_title span,
#gf_progressbar_wrapper_3 .gf_progressbar_title span,
#gf_progressbar_wrapper_5 .gf_progressbar_title span,
#gf_progressbar_wrapper_6 .gf_progressbar_title span {
	font-size: 14px;
	font-family: 'Manrope';
	font-weight: 400;
	line-height: 19px;
	color: #000000 !important;
}

#gform_fields_1 li label,
#gform_fields_3 li label,
#gform_fields_5 li label,
#gform_fields_6 li label {
	font-size: 14px;
	font-family: "Manrope";
	font-weight: 500;
	line-height: 19px;
	color: #707070;
}

#gform_fields_1 li .ginput_container input,
#gform_fields_3 li .ginput_container input,
#gform_fields_5 li .ginput_container input,
#gform_fields_6 li .ginput_container input {
	font-size: 14px;
	font-family: "Manrope";
	font-weight: 400;
	line-height: 19px;
	color: #000000;
	background-color: #FAFAFA;
}

#gform_fields_1 li .ginput_container input:focus-visible,
#gform_fields_3 li .ginput_container input:focus-visible,
#gform_fields_5 li .ginput_container input:focus-visible,
#gform_fields_6 li .ginput_container input:focus-visible {
    outline: 1px solid #248CCC;
}


#gform_fields_1 li .ginput_container input::placeholder,
#gform_fields_3 li .ginput_container input::placeholder,
#gform_fields_5 li .ginput_container input::placeholder,
#gform_fields_6 li .ginput_container input::placeholder {
	font-size: 14px;
	font-family: "Manrope";
	font-weight: 400;
	line-height: 19px;
	color: #707070;
}

#gform_page_1_1 .gform_page_footer,
#gform_page_3_1 .gform_page_footer,
#gform_page_5_1 .gform_page_footer,
#gform_page_6_1 .gform_page_footer {
	display: flex;
	justify-content: end;
}

#gform_next_button_1_22,
#gform_next_button_3_24,
#gform_next_button_5_22,
#gform_next_button_6_24 {
	width: 120px;
	margin-right: 0;
	font-family: "Poppins";
	font-size: 16px;
	line-height: 25px;
	font-weight: 600;
	background-color: #248CCC;
	border-radius: 2px;
	padding: 12px 21px;
	color: #ffffff;
	border: 0;
	cursor: pointer;
}

#gform_fields_1,
#gform_fields_3,
#gform_fields_5,
#gform_fields_6 {
	align-items: baseline;
}

#field_1_36,
#field_1_37,
#field_3_25,
#field_3_26,
#field_5_36,
#field_5_37,
#field_6_25,
#field_6_26 {
	width: 100% !important;
}

#field_1_36 .gfield_label,
#field_1_37 .gfield_label,
#field_3_25 .gfield_label,
#field_3_26 .gfield_label,
#field_5_36 .gfield_label,
#field_5_37 .gfield_label,
#field_6_25 .gfield_label,
#field_6_26 .gfield_label {
	font-size: 14px;
	font-family: "Poppins";
	line-height: 21px;
    font-weight: 600;
	color: #707070;
}

#input_1_36,
#input_1_37,
#input_5_36,
#input_5_37,
#input_6_36,
#input_6_37 {
	width: 590px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#input_3_25,
#input_3_26,
#input_6_25,
#input_6_26 {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

@media only screen and (max-width: 42em) {
 #input_1_36,
 #input_1_37,
 #input_3_25,
 #input_3_26,
 #input_5_36,
 #input_5_37,
 #input_6_25,
 #input_6_26 {
    flex-direction: column;
	align-items: center;
	width: unset;
  }
}

#input_1_36 input,
#input_1_37 input,
#input_3_25 input,
#input_3_26 input,
#input_5_36 input,
#input_5_37 input,
#input_6_25 input,
#input_6_26 input {
	display: none;
}

#input_1_36 label,
#input_1_37 label,
#input_3_25 label,
#input_3_26 label,
#input_5_36 label,
#input_5_37 label,
#input_6_25 label,
#input_6_26 label {
	font-size: 14px;
	font-family: "Manrope";
	line-height: 19px;
	font-weight: 400;
	color: #000000;
	text-align: center;
	max-width: 100%;
	margin: 0;
}

@media only screen and (max-width: 42em) {
 #input_1_36 label,
 #input_1_37 label,
 #input_3_25 label,
 #input_3_26 label,
 #input_5_36 label,
 #input_5_37 label,
 #input_6_25 label,
 #input_6_26 label {
	width: 100%;
  }
}

#label_1_36_0::before,
#label_3_25_0::before,
#label_5_36_0::before {
	display: block;
	content: '';
	background-image: url('https://www.ftsgps.com/wp-content/uploads/2022/09/Group-26501-1.svg');
	background-repeat: no-repeat;
	background-position: -104px center;
	margin-bottom: 12px;
	background-color: #FAFAFA;
	border: 1px solid #E1E1E1;
	border-radius: 10px;
	width: 188px;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;

}

#label_1_36_1::before,
#label_3_25_1::before,
#label_5_36_1::before {
	display: block;
	content: '';
	background-image: url('https://www.ftsgps.com/wp-content/uploads/2022/09/Group-26502-1.svg');
	background-repeat: no-repeat;
	background-position: -104px center;
	margin-bottom: 12px;
	padding: 42px 0;
	background-color: #FAFAFA;
	border: 1px solid #E1E1E1;
	border-radius: 10px;
	width: 188px;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;

}

#label_1_36_2::before,
#label_3_25_2::before,
#label_5_36_2::before  {
	display: block;
	content: '';
	background-image: url('https://www.ftsgps.com/wp-content/uploads/2022/09/Group-26503-1.svg');
	background-repeat: no-repeat;
	background-position: -104px center;
	margin-bottom: 12px;
	padding: 42px 0;
	background-color: #FAFAFA;
	border: 1px solid #E1E1E1;
	border-radius: 10px;
	width: 188px;
    height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;

}

#label_1_36_3::before,
#label_3_25_3::before,
#label_5_36_3::before {
	display: block;
	content: '';
	background-image: url('https://www.ftsgps.com/wp-content/uploads/2022/09/Group-26504-1.svg');
	background-repeat: no-repeat;
	background-position: -104px center;
	margin-bottom: 12px;
	padding: 42px 0;
	background-color: #FAFAFA;
	border: 1px solid #E1E1E1;
	border-radius: 10px;
	width: 188px;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;

}

/* Toggle Page 2 Checkboxes */

#choice_1_36_0:checked + #label_1_36_0::before,
#choice_1_36_1:checked + #label_1_36_1::before,
#choice_1_36_3:checked + #label_1_36_3::before,
#choice_3_25_0:checked + #label_3_25_0::before,
#choice_3_25_1:checked + #label_3_25_1::before,
#choice_3_25_3:checked + #label_3_25_3::before,
#choice_5_36_0:checked + #label_5_36_0::before,
#choice_5_36_1:checked + #label_5_36_1::before,
#choice_5_36_3:checked + #label_5_36_3::before {
	/* background-position: 50px center; */
	background-color: #e2f4ff;
	border: 1px solid #268ECC;
	transition: all .3s ease-in;
}

#choice_1_36_2:checked + #label_1_36_2::before,
#choice_3_25_2:checked + #label_3_25_2::before,
#choice_5_36_2:checked + #label_5_36_2::before{
	/* background-position: 48px center; */
	background-color: #e2f4ff;
	border: 1px solid #268ECC;
	transition: all .3s ease-in;
}


#choice_1_37_0:checked + #label_1_37_0::before,
#choice_3_26_0:checked + #label_3_26_0::before,
#choice_5_37_0:checked + #label_5_37_0::before {
	/* background-position: 67px center; */
	background-color: #e2f4ff;
	border: 1px solid #268ECC;
	transition: all .3s ease-in;
}

#choice_1_37_1:checked + #label_1_37_1::before,
#choice_3_26_1:checked + #label_3_26_1::before,
#choice_5_37_1:checked + #label_5_37_1::before {
	/* background-position: 33px center; */
	background-color: #e2f4ff;
	border: 1px solid #268ECC;
	transition: all .3s ease-in;
}

#choice_1_37_2:checked + #label_1_37_2::before,
#choice_3_26_2:checked + #label_3_26_2::before,
#choice_5_37_2:checked + #label_5_37_2::before,
#choice_5_37_3:checked + #label_5_37_3::before {
	/* background-position: 28px center; */
	background-color: #e2f4ff;
	border: 1px solid #268ECC;
	transition: all .3s ease-in;
}



#label_1_36_0:hover::before,
#label_3_25_0:hover::before,
#label_5_36_0:hover::before{
	background-color: #f3f3f3;
}


#label_1_36_1:hover::before,
#label_3_25_1:hover::before,
#label_5_36_1:hover::before {
	background-color: #f3f3f3;
}

#label_1_36_1:hover::before,
#label_3_25_1:hover::before,
#label_5_36_1:hover::before{
	background-color: #f3f3f3;
}


#label_1_37_0::before,
#label_3_26_0::before,
#label_5_37_0::before{
	display: block;
	content: '';
	background-image: url('https://www.ftsgps.com/wp-content/uploads/2023/03/d1.svg');
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 12px;
	background-color: #FAFAFA;
	border: 1px solid #E1E1E1;
	border-radius: 10px;
	width: 138px;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#label_1_37_1::before,
#label_3_26_1::before,
#label_5_37_1::before{
	display: block;
	content: '';
	background-image: url('https://www.ftsgps.com/wp-content/uploads/2023/03/d2.svg');
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 12px;
	background-color: #FAFAFA;
	border: 1px solid #E1E1E1;
	border-radius: 10px;
	width: 138px;
	height: 120px;
    display: flex;
	align-items: center;
	justify-content: center;
}

#label_1_37_2::before,
#label_3_26_2::before,
#label_5_37_2::before{
	display: block;
	content: '';
	background-image: url('https://www.ftsgps.com/wp-content/uploads/2023/03/d3.svg');
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 12px;
	background-color: #FAFAFA;
	border: 1px solid #E1E1E1;
	border-radius: 10px;
	width: 138px;
	height: 120px;
    display: flex;
	align-items: center;
	justify-content: center;
}

#label_1_37_3::before,
#label_3_26_3::before,
#label_5_37_3::before{
	display: block;
	content: '';
	background-image: url('https://www.ftsgps.com/wp-content/uploads/2023/03/d4.svg');
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 12px;
	background-color: #FAFAFA;
	border: 1px solid #E1E1E1;
	border-radius: 10px;
	width: 138px;
	height: 120px;
    display: flex;
	align-items: center;
	justify-content: center;
}



#label_1_37_0:hover::before,
#label_3_26_0:hover::before,
#label_5_37_0:hover::before{
	background-color: #f3f3f3;
}


#label_1_37_1:hover::before,
#label_3_26_1:hover::before,
#label_5_37_1:hover::before{
	background-color: #f3f3f3;
}

#label_1_37_2:hover::before,
#label_3_26_2:hover::before,
#label_5_37_2:hover::before{
	background-color: #f3f3f3;
}

#label_1_37_3:hover::before,
#label_3_26_3:hover::before,
#label_5_37_3:hover::before{
	background-color: #f3f3f3;
}

#gform_page_1_2 .gform_page_footer,
#gform_page_3_2 .gform_page_footer,
#gform_page_5_2 .gform_page_footer,
#gform_page_6_2 .gform_page_footer {
	display: flex;
	justify-content: space-between;
}

@media only screen and (max-width: 42em) {
 #gform_page_1_2 .gform_page_footer,
 #gform_page_3_2 .gform_page_footer,
 #gform_page_5_2 .gform_page_footer,
 #gform_page_6_2 .gform_page_footer {
    align-items: center;
  }
}

#gform_previous_button_1_26,
#gform_previous_button_1,
#gform_previous_button_3_27,
#gform_previous_button_3,
#gform_previous_button_5_26,
#gform_previous_button_5,
#gform_previous_button_6_27,
#gform_previous_button_6 {
	width: 120px;
	margin: 0 !important;
	font-family: "Poppins";
	font-size: 16px;
	line-height: 25px;
	font-weight: 600;
	background-color: #F2F2F2;
	border-radius: 2px;
	padding: 12px 21px;
	color: #000000;
	border: 0;
	cursor: pointer;
}

/* !!! */
@media only screen and (max-width: 42em) {
 .gform_previous_button {
    width: 40% !important;
  }
}


#gform_next_button_1_26,
#gform_next_button_3_27,
#gform_next_button_5_26,
#gform_next_button_6_27 {
	width: 120px;
    margin: 0 !important;
	font-family: "Poppins";
	font-size: 16px;
	line-height: 25px;
	font-weight: 600;
	background-color: #248CCC;
	border-radius: 2px;
	padding: 12px 21px;
	color: #ffffff;
	border: 0;
	cursor: pointer;
}
/* add width */
#gform_submit_button_1,
#gform_submit_button_3,
#gform_submit_button_5,
#gform_submit_button_6 {
	
	margin: 0 !important;
	font-family: "Poppins";
	font-size: 16px;
	line-height: 25px;
	font-weight: 600;
	background-color: #248CCC;
	border-radius: 2px;
	padding: 12px 21px;
	color: #ffffff;
	border: 0;
    cursor: pointer;
}

/* !!! */
@media only screen and (max-width: 42em) {
 .gform_next_button {
    width: 40% !important;
  }
}

#gform_fields_1_3 li,
#gform_fields_3_3 li,
#gform_fields_5_3 li,
#gform_fields_6_3 li {
	width: 100% !important;
}

#gform_fields_1_3 label,
#gform_fields_3_3 label,
#gform_fields_5_3 label,
#gform_fields_6_3 label {
	font-size: 16px;
	font-family: "Poppins";
	line-height: 21px;
    font-weight: 600;
	color: #707070;
}

#input_1_34,
#input_5_34,
#input_6_34 {
	display: none;
}

#gfield_description_1_34,
#gfield_description_5_34,
#gfield_description_6_34 {
	padding-top: 0 !important;
	font-size: 14px;
	line-height: 19px;
	font-family: "Manrope";
	font-weight: 400;
	color: #707070;
}

#field_1_23 label,
#field_3_28 label,
#field_3_29 label,
#field_5_23 label,
#field_6_28 label,
#field_6_29 label {
	font-size: 14px;
	font-family: "Poppins";
	line-height: 21px;
    font-weight: 600;
	color: #707070;
}

#field_1_24 label,
#field_5_24 label
#field_6_24 label {
	font-size: 14px;
	font-family: "Poppins";
	line-height: 21px;
    font-weight: 600;
	color: #707070;
}

#input_1_23,
#input_1_24,
#input_3_28,
#input_3_29,
#input_5_23,
#input_5_24,
#input_6_28,
#input_6_29 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

@media only screen and (max-width: 42em) {
 #input_1_23,
 #input_1_24,
 #input_3_28,
 #input_3_29,
 #input_5_23,
 #input_5_24,
 #input_6_28,
 #input_6_29 {
    flex-direction: column;
	align-items: center;
	width: unset;
  }
}

#input_1_23 li,
#input_3_28 li,
#input_3_29 li,
#input_5_23 li,
#input_6_28 li,
#input_6_29 li {
	width: 48%;
	max-height: 70px;
}

#input_1_24 li,
#input_5_24 li,
#input_6_24 li {
	width: 48%;
    max-height: 70px;
}

@media only screen and (max-width: 42em) {
 #input_1_23 li,
 #input_1_24 li, 
 #input_3_28 li,
 #input_3_29 li,
 #input_5_23 li,
 #input_5_24 li,
 #input_6_28 li,
 #input_6_29 li {
    width: 100%;
  }
}

#input_1_23 li label,
#input_3_28 li label,
#input_5_23 li label,
#input_6_28 li label {
	margin-bottom: 0;
	font-size: 14px;
	line-height: 19px;
	font-family: "Manrope";
	font-weight: 400;
	color: #707070;
	width: 100%;
	padding: 16px 12px !important;
	background-color: #FAFAFA;
	border: 1px solid #E1E1E1;
	border-radius: 10px;
}

// #input_6_25 li {
// 	width: 250px !important;
// }

#input_1_23 li label:hover,
#input_3_28 li label:hover,
#input_5_23 li label:hover,
#input_6_28 li label:hover {
    background-color: #f3f3f3;
}

#input_1_24 li label:hover,
#input_3_29 li label:hover,
#input_5_24 li label:hover,
#input_6_29 li label:hover {
    background-color: #f3f3f3;
}

#input_1_23 li input,
#input_3_28 li input,
#input_5_23 li input,
#input_6_28 li input {
	margin-top: 0;
	margin-right: 10px;
}



#input_1_24 li label,
#input_3_29 li label,
#input_5_24 li label,
#input_6_29 li label {
	margin-bottom: 0;
	font-size: 14px;
	line-height: 19px;
	font-family: "Manrope";
	font-weight: 400;
	color: #707070;
	width: 100%;
	padding: 16px 12px !important;
	background-color: #FAFAFA;
	border: 1px solid #E1E1E1;
	border-radius: 10px;
}

.gform_confirmation_message {
	position: relative;
	margin-bottom: 100px;
	font-size: 16px;
	color: #707070;
	line-height: 25px;
	font-family: "Poppins";
	font-weight: 400;
}

#gform_confirmation_message_6 {
	margin-top: 100px;
	text-align: center;
}

#gform_confirmation_message_5 {
	text-align: center;
}

#gform_confirmation_message_6 img {
	display: block;
	text-align: center;
	width: 40px;
	height: 40px;
}

#gform_confirmation_message_6 strong {
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 25px;
	font-weight: 500;
	color: #707070;
	font-family: "Poppins";
}

#gform_confirmation_message_6 br:nth-child(even) {
	display: none;
}

.gform_confirmation_message a {
	display: block;
	margin-top: 100px;
}

.gform_confirmation_message img {
	display: block;
	text-align: center;
	margin: 0 auto;
	width: 40px;
	height: 40px;
}

.gform_confirmation_message strong {
	font-size: 16px;
	line-height: 25px;
	font-weight: 500;
	color: #707070;
	font-family: "Poppins";
}

#input_1_24 li input,
#input_3_29 li input,
#input_5_24 li input,
#input_6_29 li input {
	margin-top: 0;
	margin-right: 10px;
}

#field_1_34 label,
#field_5_34 label,
#field_6_34 label {
	margin-bottom: 0;
}


#gform_page_1_3 .gform_page_footer,
#gform_page_3_3 .gform_page_footer,
#gform_page_5_3 .gform_page_footer,
#gform_page_6_3 .gform_page_footer {
	display: flex;
	justify-content: space-between;
}





@media only screen and (max-width: 42em) {
 #gform_submit_button_1,
 #gform_submit_button_3,
 #gform_submit_button_5 {
    width: 40% !important;
  }
}


/* Validation */
.gform_legacy_markup_wrapper li.gfield.gfield_error {
	background-color: transparent !important;
	border-top: 0 !important;
	border-bottom: 0 !important;
	padding-bottom: 0 !important;
	padding-top: 0 !important;
	
}

.gform_legacy_markup_wrapper .validation_message {
    color:  #C10000 !important;
	font-size: 14px !important;
    font-weight: 400!important;
	font-family: "Manrope" !important;
    letter-spacing: normal;
}

.gform_legacy_markup_wrapper .field_description_below .gfield_description {
    padding-top: 6px !important;
}

#gform_1_validation_container,
#gform_3_validation_container,
#gform_5_validation_container,
#gform_6_validation_container {
	font-weight: 600 !important;
	color:  #C10000 !important;
	/*border-top: 2px solid  #C10000 !important;
    border-bottom: 2px solid  #C10000 !important;
	*/
	border: 0 !important;
	
}

.gform_validation_errors>h2 {
	font-weight: 600 !important;
	color:  #C10000 !important; 
}

.gf_progressbar_percentage span {
	display: none !important;
}

.percentbar_blue {
	background-color: #248CCC !important;
}

#gfield_description_1_23,
#gfield_description_1_24,
#gfield_description_3_28,
#gfield_description_3_29,
#gfield_description_5_23,
#gfield_description_5_24,
#gfield_description_6_28,
#gfield_description_6_29 {
	margin-left: 5px;
	display: inline;
	font-size: 14px;
	line-height: 21px;
	font-family: "Poppins";
	font-weight: 400;
	color: #707070;
}

/* Spaces between li gform */


.gform_legacy_markup_wrapper .gfield_checkbox li {
	margin: 0 0 12px 0;
}

/* Custom radio btn and style for Demo Checkboxes */

#input_1_23 input,
#input_3_28 input,
#input_5_23 input,
#input_6_28 input {
	display: none;
}

#input_1_23 label,
#input_3_28 label,
#input_5_23 label,
#input_6_28 label {
	display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
}

#choice_1_23_1 + #label_1_23_1:before,
#choice_1_23_2 + #label_1_23_2:before,
#choice_1_23_3 + #label_1_23_3:before,
#choice_1_23_4 + #label_1_23_4:before,
#choice_1_23_5 + #label_1_23_5:before,
#choice_3_28_1 + #label_3_28_1:before,
#choice_3_28_2 + #label_3_28_2:before,
#choice_3_28_3 + #label_3_28_3:before,
#choice_3_28_4 + #label_3_28_4:before,
#choice_3_28_5 + #label_3_28_5:before,
#choice_5_23_1 + #label_5_23_1:before,
#choice_5_23_2 + #label_5_23_2:before,
#choice_5_23_3 + #label_5_23_3:before,
#choice_5_23_4 + #label_5_23_4:before,
#choice_5_23_5 + #label_5_23_5:before,
#choice_6_28_1 + #label_6_28_1:before,
#choice_6_28_2 + #label_6_28_2:before,
#choice_6_28_3 + #label_6_28_3:before,
#choice_6_28_4 + #label_6_28_4:before,
#choice_6_28_5 + #label_6_28_5:before {
  content: '';
  background: #F3F3F3;
  border-radius: 4px;
  border: 1px solid #66758A;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  padding: 2px;
  margin-right: 10px;
  margin-bottom: 2px;
}

#choice_1_23_1:checked + #label_1_23_1:after,
#choice_1_23_2:checked + #label_1_23_2:after,
#choice_1_23_3:checked + #label_1_23_3:after,
#choice_1_23_4:checked + #label_1_23_4:after,
#choice_3_28_1:checked + #label_3_28_1:after,
#choice_3_28_2:checked + #label_3_28_2:after,
#choice_3_28_3:checked + #label_3_28_3:after,
#choice_3_28_4:checked + #label_3_28_4:after,
#choice_5_23_1:checked + #label_5_23_1:after,
#choice_5_23_2:checked + #label_5_23_2:after,
#choice_5_23_3:checked + #label_5_23_3:after,
#choice_5_23_4:checked + #label_5_23_4:after,
#choice_6_28_1:checked + #label_6_28_1:after,
#choice_6_28_2:checked + #label_6_28_2:after,
#choice_6_28_3:checked + #label_6_28_3:after,
#choice_6_28_4:checked + #label_6_28_4:after {
  content: "";
  padding: 2px;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #66758A;
  border-radius: 2px;
  top: 21px;
  left: 16px;
}

#choice_1_23_5:checked + #label_1_23_5:after,
#choice_3_28_5:checked + #label_3_28_5:after,
#choice_5_23_5:checked + #label_5_23_5:after,
#choice_6_28_5:checked + #label_6_28_5:after {
  content: "";
  padding: 2px;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #66758A;
  border-radius: 2px;
  top: 21px;
  left: 16px;
}

#input_1_24 input,
#input_3_29 input,
#input_5_24 input,
#input_6_29 input {
	display: none;
}

#input_1_24 label,
#input_3_29 label,
#input_5_24 label
#input_6_29 label {
	display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
}

#choice_1_24_1 + #label_1_24_1:before,
#choice_1_24_2 + #label_1_24_2:before,
#choice_1_24_3 + #label_1_24_3:before,
#choice_1_24_4 + #label_1_24_4:before,
#choice_1_24_5 + #label_1_24_5:before,
#choice_3_29_1 + #label_3_29_1:before,
#choice_3_29_2 + #label_3_29_2:before,
#choice_3_29_3 + #label_3_29_3:before,
#choice_3_29_4 + #label_3_29_4:before,
#choice_3_29_5 + #label_3_29_5:before,
#choice_5_24_1 + #label_5_24_1:before,
#choice_5_24_2 + #label_5_24_2:before,
#choice_5_24_3 + #label_5_24_3:before,
#choice_5_24_4 + #label_5_24_4:before,
#choice_5_24_5 + #label_5_24_5:before,
#choice_6_29_1 + #label_6_29_1:before,
#choice_6_29_2 + #label_6_29_2:before,
#choice_6_29_3 + #label_6_29_3:before,
#choice_6_29_4 + #label_6_29_4:before,
#choice_6_29_5 + #label_6_29_5:before {
  content: '';
  background: #F3F3F3;
  border-radius: 4px;
  border: 1px solid #66758A;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  padding: 2px;
  margin-right: 10px;
  margin-bottom: 2px;
}

#choice_1_24_1:checked + #label_1_24_1:after,
#choice_1_24_2:checked + #label_1_24_2:after,
#choice_1_24_3:checked + #label_1_24_3:after,
#choice_1_24_4:checked + #label_1_24_4:after,
#choice_3_29_1:checked + #label_3_29_1:after,
#choice_3_29_2:checked + #label_3_29_2:after,
#choice_3_29_3:checked + #label_3_29_3:after,
#choice_3_29_4:checked + #label_3_29_4:after,
#choice_5_24_1:checked + #label_5_24_1:after,
#choice_5_24_2:checked + #label_5_24_2:after,
#choice_5_24_3:checked + #label_5_24_3:after,
#choice_5_24_4:checked + #label_5_24_4:after {
  content: "";
  padding: 2px;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #66758A;
  border-radius: 2px;
  top: 21px;
  left: 16px;
}

#choice_6_29_1:checked + #label_6_29_1:after,
#choice_6_29_2:checked + #label_6_29_2:after,
#choice_6_29_3:checked + #label_6_29_3:after,
#choice_6_29_4:checked + #label_6_29_4:after {
  content: "";
  padding: 2px;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #66758A;
  border-radius: 2px;
  top: 22px;
  left: 17px;
}

#choice_1_24_5:checked + #label_1_24_5:after,
#choice_3_29_5:checked + #label_3_29_5:after,
#choice_5_24_5:checked + #label_5_24_5:after,
#choice_6_29_5:checked + #label_6_29_5:after {
  content: "";
  padding: 2px;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #66758A;
  border-radius: 2px;
  top: 21px;
  left: 16px;
}

#choice_1_23_1:checked + #label_1_23_1,
#choice_1_23_2:checked + #label_1_23_2,
#choice_1_23_3:checked + #label_1_23_3,
#choice_1_23_4:checked + #label_1_23_4,
#choice_1_23_5:checked + #label_1_23_5,
#choice_3_28_1:checked + #label_3_28_1,
#choice_3_28_2:checked + #label_3_28_2,
#choice_3_28_3:checked + #label_3_28_3,
#choice_3_28_4:checked + #label_3_28_4,
#choice_3_28_5:checked + #label_3_28_5,
#choice_5_23_1:checked + #label_5_23_1,
#choice_5_23_2:checked + #label_5_23_2,
#choice_5_23_3:checked + #label_5_23_3,
#choice_5_23_4:checked + #label_5_23_4,
#choice_5_23_5:checked + #label_5_23_5,
#choice_6_28_1:checked + #label_6_28_1,
#choice_6_28_2:checked + #label_6_28_2,
#choice_6_28_3:checked + #label_6_28_3,
#choice_6_28_4:checked + #label_6_28_4,
#choice_6_28_5:checked + #label_6_28_5 {
	color: #268ECC;
	background-color: #E2F4FF;
	border: 1px solid #268ECC;
}

#choice_1_24_1:checked + #label_1_24_1,
#choice_1_24_2:checked + #label_1_24_2,
#choice_1_24_3:checked + #label_1_24_3,
#choice_1_24_4:checked + #label_1_24_4,
#choice_1_24_5:checked + #label_1_24_5,
#choice_3_29_1:checked + #label_3_29_1,
#choice_3_29_2:checked + #label_3_29_2,
#choice_3_29_3:checked + #label_3_29_3,
#choice_3_29_4:checked + #label_3_29_4,
#choice_3_29_5:checked + #label_3_29_5,
#choice_5_24_1:checked + #label_5_24_1,
#choice_5_24_2:checked + #label_5_24_2,
#choice_5_24_3:checked + #label_5_24_3,
#choice_5_24_4:checked + #label_5_24_4,
#choice_5_24_5:checked + #label_5_24_5,
#choice_6_29_1:checked + #label_6_29_1,
#choice_6_29_2:checked + #label_6_29_2,
#choice_6_29_3:checked + #label_6_29_3,
#choice_6_29_4:checked + #label_6_29_4,
#choice_6_29_5:checked + #label_6_29_5,
#choice_6_28_1:checked + #label_6_28_1,
#choice_6_28_2:checked + #label_6_28_2,
#choice_6_28_3:checked + #label_6_28_3,
#choice_6_28_4:checked + #label_6_28_4,
#choice_6_28_5:checked + #label_6_28_5,
#choice_5_25_1:checked + #label_5_25_1,
#choice_5_25_2:checked + #label_5_25_2,
#choice_5_25_3:checked + #label_5_25_3,
#choice_5_25_4:checked + #label_5_25_4,
#choice_5_25_5:checked + #label_5_25_5,
#choice_5_23_1:checked + #label_5_23_1,
#choice_5_23_2:checked + #label_5_23_2,
#choice_5_23_3:checked + #label_5_23_3,
#choice_5_23_4:checked + #label_5_23_4,
#choice_5_23_5:checked + #label_5_23_5 {
	color: #268ECC !important;
    background-color: #E2F4FF !important;
	border: 1px solid #268ECC !important;
}

.gform_legacy_markup_wrapper .gform_page_footer {
	border-top: 0 !important;
}

.gform_legacy_markup_wrapper .gfield_checkbox li label {
	max-width: unset !important;
}
.gchoice_1_36_0,
.gchoice_1_36_1,
.gchoice_1_36_2,
.gchoice_1_36_3,
.gchoice_3_25_0,
.gchoice_3_25_1,
.gchoice_3_25_2,
.gchoice_3_25_3,
.gchoice_5_36_0,
.gchoice_5_36_1,
.gchoice_5_36_3,
.gchoice_6_25_0,
.gchoice_6_25_1,
.gchoice_6_25_3 {
	margin-bottom: 20px !important;
}

@media only screen and (max-width: 42em) {
 .gchoice_1_37_0,
 .gchoice_1_37_1,
 .gchoice_1_37_2,
 .gchoice_3_26_0,
 .gchoice_3_26_1,
 .gchoice_3_26_2,
 .gchoice_5_37_0,
 .gchoice_5_37_1,
 .gchoice_5_37_2,
 .gchoice_6_26_0,
 .gchoice_6_26_1,
 .gchoice_6_26_2 {
    margin-bottom: 20px !important;
  }
}



#input_1_35,
#input_5_35{
	border-radius: 10px !important;
	font-size: 16px !important;
    font-family: "Manrope" !important;
    font-weight: 400 !important;
}

#input_5_35::placeholder {
	font-size: 16px !important;
    font-family: "Manrope" !important;
    font-weight: 400 !important;
}

.gform_page_footer {
	position: relative;
}

.gform_page_footer .gform_ajax_spinner {
	position: absolute;
	top: 5px;
	left: 292px;
}

/* Optional adding */

#gfield_description_1_23:after,
#gfield_description_3_28:after,
#gfield_description_5_23:after,
#gfield_description_6_28:after {
	content: 'Optional';
	display: block;
	font-size: 13px;
	line-height: 20px;
	color: #A2A2A2;
	font-weight: 400;
	width: 100%;
}

#gfield_description_1_24:after,
#gfield_description_3_29:after,
#gfield_description_5_24:after,
#gfield_description_6_29:after {
	content: 'Optional';
	display: block;
	font-size: 13px;
	line-height: 20px;
	color: #A2A2A2;
	font-weight: 400;
	width: 100%;
} 
//Incident Reporting

#gform_wrapper_7 .gform_title {
	display: none !important;
}

#gform_wrapper_7 .gform_required_legend {
	display: none !important;
}

#gform_wrapper_7 .gfield_label {
	font-size: 16px !important;
    line-height: 26px !important;
    font-weight: 500 !important;
    font-family: 'Poppins';
	color: #757575 !important;
}

#field_7_2 label {
    display: none;
}

#field_7_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

#gform_wrapper_7 .gform_footer {
	justify-content: center;
}

#gform_submit_button_7 {
    padding: 12px 20px;
    line-height: 1;
    font-weight: 600;
    color: #ffffff;
    background-color: #d50051;
    border: 2px solid #d50051;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 15px;
	font-family: Manrope;
    cursor: pointer;

	&:hover {
		background-color: #c1004a;
		border: 2px solid #c1004a;
	}
}

#gform_wrapper_4 .gform_title {
	display: none;
}

#gform_wrapper_4 .gsection_title {
	font-size: 20px;
    font-weight: 700;
	line-height: 28px;
}

#gform_submit_button_4 {
	padding: 12px 20px !important;
    line-height: 1 !important;
    font-weight: 600 !important;
    color: #ffffff !important;
    background-color: #d50051 !important;
    border: 2px solid #d50051 !important;
    border-radius: 3px !important;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 15px !important;
	font-family: Manrope !important;
    cursor: pointer !important;

	&:hover {
		background-color: #c1004a !important;
		border: 2px solid #c1004a !important;
	}
}

#input_6_30 {
	font-size: 16px !important;
    font-family: "Manrope" !important;
    font-weight: 400 !important;
}

#input_4_7 {
	font-size: 16px !important;
    font-family: "Manrope" !important;
    font-weight: 400 !important;
}

#input_4_32 input {
	font-size: 16px !important;
    font-family: "Manrope" !important;
    font-weight: 400 !important;
}

#input_4_22 input {
	font-size: 16px !important;
    font-family: "Manrope" !important;
    font-weight: 400 !important;
}