$white-color: #fff;
$light-color: #fcfcfc;
$main-color: #28a8e0;
$background-light-color: #f4f4f4;
$firefly-color: #0b2031;
$blue-color: #248ccc;
$ebony-clay-color: #1e2832;
$light-borwn-color: #707070;
$primary-color: #3b3b3b;
$red-color: #d50051;
$fuzzy-brown-color: #c7534c;
$green-color: #49c247;
$yellow-color: #feb74f;
$dark-red-color: #790000;
$black-color: #000;
$gray-color: rgba(43, 44, 40, 1);
$light-gray-color: #dbdbdb;
$black-alpha01-color: rgba(0, 0, 0, 0.1);
$blue-color: #2ca6de;
$dark-blue-color: #195196;
$light-blue-color: #48739c;
$strong-dark-blue-color: #112633;
$bg-color-gray: #2d3743;
$second-gray: #757575;

$input-light-color: #fafafa;
$input-focus-color: #248ccc;
$input-light-focus-color: #e2f4ff;
$input-black-color: #000;
$input-white-color: #fff;
$label-gray-color: #707070;
$require-red-color: #790000;
$black-color: #000;
$white-color: #fff;
$gray-color: rgba(43, 44, 40, 1);
$blue-color: #2ca6de;
$light-color: #fcfcfc;
$dark-color: rgba(0, 0, 0, 0.1);
$background-gray-color: #f4f4f4;

$contact-blue-color: #195196;
$contact-light-blue-color: #48739c;
$contact-dark-blue-color: #112633;

/* new palete of colors */

$white: #fff;
$black: #000;

$main-blue: #217bc0;
$main-red: #d50051;
$main-blue-hover2: #072d53;
$gray-dark: #3b3b3b;
$gray-light-2: #f3f3f3;
$new-yellow: #FFE15C;
$font-dark: #3F3F3F;
