.drive-innertext {
    font-family: 'Manrope';
    color: #2b2c28;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 870px;
}

.drive-innerhead {
    font-family: 'Poppins';
    color: #2b2c28;
    font-size: 30px;
    font-weight: 500;
    line-height: 37px;
    margin-bottom: 30px;
}

.drive-mainheader {
    color: #000000;
    font-weight: 500;
    line-height: 90px;
    font-size: 60px;
}