.headline-products {
  font-family: Poppins;
  color: $gray-dark;
  font-size: 3.6rem;
  font-weight: 300;
  margin-bottom: 1rem;
  line-height: 1.4;
}

.subline-products {
  color: #000000;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.6rem;
}
