.driveshield-functions {
    background-color: #f4f4f4;

    &__box {
        width: 100%;
        // max-width: 1240px;
        // display: flex;
        // flex-direction: row;
        align-items: stretch;

        &--inner {
            // width: 33%;
            // flex-direction: column;
            // display: flex;
            text-align: center;
            align-items: center;
            margin-top: 0px;
            margin-bottom: 0px;
            padding-top: 106px;
            padding-bottom: 60px;
        }

        &--logo {
            margin-bottom: 15px;
        }

        &--header {
            font-family: 'Poppins';
            color: #000000;
            font-size: 16px;
            font-weight: 600;
            line-height: 30px;
            margin-bottom: 6px;
        }

        &__content {

            &--text {
                font-family: 'Manrope';
                color: #000000;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                // max-width: 350px;
            }
        }
    }
}

.driveshield-functions:nth-child(odd) {

    & .driveshield-functions__box--inner:nth-child(2) {
        background-color: #ffffff;
    }
} 

.driveshield-functions:nth-child(even) {
    background-color: #ffffff;

    & .driveshield-functions__box--inner {
        padding-top: 60px;
    }

    & .driveshield-functions__box--inner:nth-child(2) {
        background-color: #f4f4f4;
        
    }
} 

