.jobs {
  &__baner {
    background-image: url("../img/career-bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.filter-container {
    div {
        gap: 30px; 
    }
} 


.jobs-list-item {
    margin-bottom: 20px;
      border: 1px solid #D5D5D5;
      border-radius: 10px;
      overflow: hidden;
  }
  .jobs-list-item .ct-code-block {
    width: 100%;
  }
  .jobs-list-item .bottom-offer {
      width: 100%;
      padding: 12px 25px;
    background-color: #F5F5F5;
      display: flex;
      justify-content: space-between;
  }
  .jobs-list-item .upper-offer {
      padding: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .jobs-list-item .upper-offer .logo-side {
      width: 100%;
    max-width: 180px;
      margin-right: 50px;
  }
  .jobs-list-item .upper-offer .content-side {
    width: 100%;
  }
  .jobs-list-item .upper-offer .content-side h5 {
    display: block;
      margin-bottom: 25px;
      font-size: 26px;
      line-height: 34px;
      font-family: 'Poppins', 'Arial', sans-serif;
      font-weight: 600;
      color: #2079BE;
  }
  .jobs-list-item .upper-offer .content-side h5 a {
    color: 	#2079BE;
      text-decoration: none;
  }
  .jobs-list-item .upper-offer .content-side h5 a:hover {
    color: #d50051;
  }
  .jobs-list-item .work-features {
    display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 100%;
      max-width: 800px;
  }
  .jobs-list-item .work-features span {
      display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    max-width: 260px;
    // min-width: 200px;
    margin: 0 40px 20px 0;
    font-size: 14px;
    line-height: 1.4;
  }
  .jobs-list-item .work-features span::before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 25px;
    margin-right: 8px;
  }
  .jobs-list-item .work-features span.work-hours::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg id='Group_17130' data-name='Group 17130' transform='translate(-610 -793)'%3E%3Crect id='Rectangle_7297' data-name='Rectangle 7297' width='24' height='24' transform='translate(610 793)' fill='none'/%3E%3Cpath id='hourglass-end' d='M143.714,1.429a10.814,10.814,0,0,1-1.189,5.151A9.117,9.117,0,0,1,139.551,10a9.117,9.117,0,0,1,2.974,3.421,10.814,10.814,0,0,1,1.189,5.151h1.071a.344.344,0,0,1,.357.357v.714a.344.344,0,0,1-.357.357H128.357a.344.344,0,0,1-.357-.357v-.714a.344.344,0,0,1,.357-.357h1.071a10.814,10.814,0,0,1,1.189-5.151A9.117,9.117,0,0,1,133.592,10a9.117,9.117,0,0,1-2.974-3.421,10.814,10.814,0,0,1-1.189-5.151h-1.071A.344.344,0,0,1,128,1.071V.357A.344.344,0,0,1,128.357,0h16.429a.344.344,0,0,1,.357.357v.714a.344.344,0,0,1-.357.357Zm-5.96,7.9A5.408,5.408,0,0,0,139.417,8.3a8.138,8.138,0,0,0,1.445-1.7A8.8,8.8,0,0,0,141.9,4.252a10.111,10.111,0,0,0,.391-2.824H130.857a10.111,10.111,0,0,0,.391,2.824A8.8,8.8,0,0,0,132.28,6.6a8.138,8.138,0,0,0,1.445,1.7,5.408,5.408,0,0,0,1.663,1.032.713.713,0,0,1,0,1.339,6.047,6.047,0,0,0-2.723,2.188h7.813a6.047,6.047,0,0,0-2.723-2.187.713.713,0,0,1,0-1.339Z' transform='translate(485 795)' fill='%23555'/%3E%3C/g%3E%3C/svg%3E");
  }
  
  .jobs-list-item .work-features span.contract::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg id='Group_17131' data-name='Group 17131' transform='translate(-836 -793)'%3E%3Crect id='Rectangle_7297' data-name='Rectangle 7297' width='24' height='24' transform='translate(836 793)' fill='none'/%3E%3Cpath id='file-text-o' d='M144.384,4.241a2.6,2.6,0,0,1,.536.848,2.577,2.577,0,0,1,.223.982V18.929A1.067,1.067,0,0,1,144.071,20h-15A1.067,1.067,0,0,1,128,18.929V1.071a1.033,1.033,0,0,1,.313-.759A1.033,1.033,0,0,1,129.071,0h10a2.577,2.577,0,0,1,.982.223,2.6,2.6,0,0,1,.848.536Zm-4.955-2.723v4.2h4.2a1.219,1.219,0,0,0-.246-.458l-3.493-3.493A1.219,1.219,0,0,0,139.429,1.518Zm4.286,17.054V7.143h-4.643A1.067,1.067,0,0,1,138,6.071V1.429h-8.571V18.571ZM132.286,8.929a.344.344,0,0,1,.357-.357H140.5a.344.344,0,0,1,.357.357v.714A.344.344,0,0,1,140.5,10h-7.857a.344.344,0,0,1-.357-.357Zm8.214,2.5a.344.344,0,0,1,.357.357V12.5a.344.344,0,0,1-.357.357h-7.857a.344.344,0,0,1-.357-.357v-.714a.344.344,0,0,1,.357-.357Zm0,2.857a.344.344,0,0,1,.357.357v.714a.344.344,0,0,1-.357.357h-7.857a.344.344,0,0,1-.357-.357v-.714a.344.344,0,0,1,.357-.357Z' transform='translate(711 795)' fill='%23555'/%3E%3C/g%3E%3C/svg%3E");
  }
  
  .jobs-list-item .work-features span.remote_work::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg id='Group_17132' data-name='Group 17132' transform='translate(-1087 -793)'%3E%3Crect id='Rectangle_7297' data-name='Rectangle 7297' width='24' height='24' transform='translate(1087 793)' fill='none'/%3E%3Cpath id='home' d='M108.749,263.084v6.55a.885.885,0,0,1-.873.873h-5.24v-5.24H99.142v5.24H93.9a.885.885,0,0,1-.873-.873v-6.55a.186.186,0,0,1,.007-.041.187.187,0,0,0,.007-.041l7.846-6.468L108.735,263A.19.19,0,0,1,108.749,263.084Zm3.043-.942-.846,1.01a.464.464,0,0,1-.287.15h-.041a.419.419,0,0,1-.287-.1l-9.443-7.874-9.443,7.874a.507.507,0,0,1-.328.1.464.464,0,0,1-.287-.15l-.846-1.01a.443.443,0,0,1-.1-.321.4.4,0,0,1,.15-.293l9.811-8.174a1.693,1.693,0,0,1,2.074,0l3.33,2.784v-2.661a.42.42,0,0,1,.437-.437h2.62a.42.42,0,0,1,.437.437v5.567l2.988,2.484a.4.4,0,0,1,.15.293A.443.443,0,0,1,111.792,262.143Z' transform='translate(998.111 543)' fill='%23555'/%3E%3C/g%3E%3C/svg%3E%0A");
    font-size: 25px;
  }
  
  .jobs-list-item .work-features span.location::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg id='Group_17133' data-name='Group 17133' transform='translate(-6113 18001)'%3E%3Crect id='Rectangle_7297' data-name='Rectangle 7297' width='24' height='24' transform='translate(6113 -18001)' fill='none'/%3E%3Cpath id='map-marker' d='M394,134.667a3.334,3.334,0,1,0-.977,2.357A3.212,3.212,0,0,0,394,134.667Zm3.333,0A5.48,5.48,0,0,1,396.9,137l-4.74,10.078a1.58,1.58,0,0,1-.618.677,1.685,1.685,0,0,1-1.758,0,1.5,1.5,0,0,1-.605-.677L384.43,137a5.479,5.479,0,0,1-.43-2.331,6.667,6.667,0,0,1,13.333,0Z' transform='translate(5734 -18127)' fill='%23555'/%3E%3C/g%3E%3C/svg%3E%0A");
    font-size: 25px;
  }
  
  .jobs-list-item .work-features span.experience::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg id='Group_17129' data-name='Group 17129' transform='translate(-1075 -1198)'%3E%3Crect id='Rectangle_7297' data-name='Rectangle 7297' width='24' height='24' transform='translate(1075 1198)' fill='none'/%3E%3Cpath id='gears' d='M73.333,25.167a2.667,2.667,0,1,0-.781,1.885A2.569,2.569,0,0,0,73.333,25.167Zm8,5.333a1.334,1.334,0,1,0-.391.943A1.281,1.281,0,0,0,81.333,30.5Zm0-10.667a1.334,1.334,0,1,0-.391.943A1.281,1.281,0,0,0,81.333,19.833Zm-4,4.385v1.927a.339.339,0,0,1-.073.2.242.242,0,0,1-.167.109l-1.615.25a5.133,5.133,0,0,1-.333.792q.354.5.938,1.2a.4.4,0,0,1,.073.208.267.267,0,0,1-.073.2,10.875,10.875,0,0,1-.859.932q-.62.62-.818.62a.376.376,0,0,1-.219-.073l-1.2-.937a4.723,4.723,0,0,1-.8.323,12.4,12.4,0,0,1-.24,1.615.3.3,0,0,1-.312.25H69.7a.318.318,0,0,1-.208-.078.269.269,0,0,1-.1-.182l-.24-1.594a4.569,4.569,0,0,1-.781-.323l-1.229.927a.282.282,0,0,1-.208.073.345.345,0,0,1-.219-.083q-1.5-1.385-1.5-1.667a.349.349,0,0,1,.073-.2q.1-.146.427-.552t.49-.635a5.328,5.328,0,0,1-.365-.854l-1.583-.25a.257.257,0,0,1-.177-.1.31.31,0,0,1-.073-.2V24.188a.339.339,0,0,1,.073-.2.242.242,0,0,1,.167-.109l1.615-.25a5.134,5.134,0,0,1,.333-.792q-.354-.5-.937-1.2a.4.4,0,0,1-.073-.208.3.3,0,0,1,.073-.208,8.858,8.858,0,0,1,.854-.927q.625-.615.823-.615a.376.376,0,0,1,.219.073l1.2.938a5.068,5.068,0,0,1,.8-.333,11.979,11.979,0,0,1,.24-1.6.3.3,0,0,1,.313-.25h1.938a.318.318,0,0,1,.208.078.269.269,0,0,1,.1.182l.24,1.594a4.569,4.569,0,0,1,.781.323L74.2,19.75a.3.3,0,0,1,.208-.073.345.345,0,0,1,.219.083q1.5,1.385,1.5,1.667a.387.387,0,0,1-.073.2q-.125.167-.437.563t-.469.625a7.109,7.109,0,0,1,.354.854l1.583.24a.3.3,0,0,1,.177.109A.31.31,0,0,1,77.333,24.219ZM84,29.771v1.458q0,.167-1.552.323a3.037,3.037,0,0,1-.312.542,5.778,5.778,0,0,1,.531,1.438.09.09,0,0,1-.042.073q-1.271.74-1.292.74-.083,0-.479-.49t-.542-.708q-.208.021-.312.021t-.312-.021q-.146.219-.542.708t-.479.49q-.021,0-1.292-.74a.09.09,0,0,1-.042-.073,5.778,5.778,0,0,1,.531-1.437,3.037,3.037,0,0,1-.312-.542Q76,31.4,76,31.229V29.771q0-.167,1.552-.323a2.911,2.911,0,0,1,.313-.542,5.778,5.778,0,0,1-.531-1.437.09.09,0,0,1,.042-.073q.042-.021.365-.208l.615-.354a2.56,2.56,0,0,1,.313-.167q.083,0,.479.484t.542.7q.208-.021.313-.021t.313.021a9.585,9.585,0,0,1,.958-1.167l.063-.021q.042,0,1.292.729a.09.09,0,0,1,.042.073,5.778,5.778,0,0,1-.531,1.438,2.911,2.911,0,0,1,.313.542Q84,29.6,84,29.771ZM84,19.1v1.458q0,.167-1.552.323a3.037,3.037,0,0,1-.312.542,5.778,5.778,0,0,1,.531,1.438.09.09,0,0,1-.042.073q-1.271.74-1.292.74-.083,0-.479-.49t-.542-.708Q80.1,22.5,80,22.5t-.312-.021q-.146.219-.542.708t-.479.49q-.021,0-1.292-.74a.09.09,0,0,1-.042-.073,5.778,5.778,0,0,1,.531-1.437,3.037,3.037,0,0,1-.312-.542Q76,20.729,76,20.563V19.1q0-.167,1.552-.323a2.911,2.911,0,0,1,.313-.542,5.778,5.778,0,0,1-.531-1.437.09.09,0,0,1,.042-.073q.042-.021.365-.208l.615-.354A2.56,2.56,0,0,1,78.667,16q.083,0,.479.484t.542.7q.208-.021.313-.021t.313.021a9.586,9.586,0,0,1,.958-1.167L81.333,16q.042,0,1.292.729a.09.09,0,0,1,.042.073,5.778,5.778,0,0,1-.531,1.438,2.911,2.911,0,0,1,.313.542Q84,18.937,84,19.1Z' transform='translate(1013 1185)' fill='%23555'/%3E%3C/g%3E%3C/svg%3E%0A");
  }

  .jobs-list-item .work-features span.benefits::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M8.96173 19.3786L8.48914 19.961L8.96173 19.3786ZM12 5.57412L11.4522 6.08635C11.594 6.23803 11.7923 6.32412 12 6.32412C12.2077 6.32412 12.406 6.23803 12.5478 6.08635L12 5.57412ZM15.0383 19.3787L15.5109 19.961L15.0383 19.3787ZM12 21L12 20.25L12 21ZM9.43432 18.7963C7.98445 17.6197 6.29166 16.077 4.96771 14.3884C3.62931 12.6814 2.75 10.9289 2.75 9.3175H1.25C1.25 11.4354 2.38041 13.5196 3.78729 15.3139C5.20863 17.1267 6.99671 18.7499 8.48914 19.961L9.43432 18.7963ZM2.75 9.3175C2.75 6.41289 4.01766 4.61731 5.58602 4.00319C7.15092 3.39043 9.34039 3.82778 11.4522 6.08635L12.5478 5.06189C10.1598 2.50784 7.34924 1.70187 5.0391 2.60645C2.73242 3.50967 1.25 5.99209 1.25 9.3175H2.75ZM15.5109 19.961C17.0033 18.7499 18.7914 17.1268 20.2127 15.314C21.6196 13.5196 22.75 11.4354 22.75 9.31747H21.25C21.25 10.9289 20.3707 12.6814 19.0323 14.3884C17.7084 16.077 16.0156 17.6197 14.5657 18.7963L15.5109 19.961ZM22.75 9.31747C22.75 5.99208 21.2676 3.50966 18.9609 2.60645C16.6508 1.70187 13.8402 2.50784 11.4522 5.06189L12.5478 6.08635C14.6596 3.82778 16.8491 3.39042 18.414 4.00319C19.9823 4.6173 21.25 6.41287 21.25 9.31747H22.75ZM8.48914 19.961C9.76058 20.9928 10.6423 21.75 12 21.75L12 20.25C11.2771 20.25 10.8269 19.9263 9.43432 18.7963L8.48914 19.961ZM14.5657 18.7963C13.1731 19.9263 12.7229 20.25 12 20.25L12 21.75C13.3577 21.75 14.2394 20.9928 15.5109 19.961L14.5657 18.7963Z' fill='%235E5E5E'/%3E%3Cpath d='M18.5 9.00002H16.5M16.5 9.00002L14.5 9.00002M16.5 9.00002L16.5 7M16.5 9.00002L16.5 11' stroke='%235E5E5E' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  }

  .features-offer {
    border: 0;
    border-radius: 0;
    overflow: visible;
  }

  .content-offer p {
    margin-bottom: 20px;
  }