.nevada {

    &--img {
        background-image: url(../img/vehicles-on-las-vegas-highway.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0% 65%;
        height: 400px;
    }
}