.fts-removal {
  padding-top: 50px;

  svg {
    margin-bottom: 50px;

    @include respond(phone) {
      margin-bottom: 30px;
    }
  }

  h1 {
    margin-bottom: 180px;

    @include respond(phone) {
      margin-bottom: 100px;
      font-size: 40px;
      letter-spacing: -2px;
      line-height: 45px;
    }
  }
}

#gform_wrapper_9 {
  & .gfield_label {
    margin-bottom: 30px;
    color: $gray-dark;
    font-family: "Poppins";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1px;
  }

  // input[type=checkbox] {
  //     display: inline-block !important;
  // }

  .ginput_container_checkbox,
  .ginput_container_radio {
    .gfield_checkbox,
    .gfield_radio {
      width: 100%;
      display: flex;
      gap: 25px;
      flex-wrap: wrap;

      @include respond(tab-land) {
        justify-content: center;
      }

      .gchoice {
        width: 100%;
        max-width: 225px;
        text-align: center;

        @include respond(tab-land) {
          max-width: 315px;
        }

        @include respond(phone) {
          max-width: 209px;
        }

        @include respond(s-phone) {
          max-width: 155px;
        }

        .gform-field-label {
          padding: 24px 0;
          min-width: 225px;
          font-size: 16px;
          color: $gray-dark;
          font-weight: 400;
          font-family: "Poppins";
          background: #f9f9f9;
          outline: 1px solid #e3e3e3;
          border-radius: 10px;
          cursor: pointer;

          &::before {
            display: block;
            width: 90px;
            height: 70px;
            margin: 0 auto 18px;
            filter: grayscale(1);
            //driveshield
          }

          &:hover {
            background: #f3f3f3;
          }

          @include respond(tab-land) {
            min-width: 315px;
          }

          @include respond(phone) {
            min-width: 209px;
          }

          @include respond(s-phone) {
            min-width: 155px;
          }
        }
      }

      .gchoice_9_5_1 .gform-field-label::before,
      .gchoice_9_18_0 .gform-field-label::before {
        content: url("data:image/svg+xml,%3Csvg width='90' height='70' viewBox='0 0 90 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Group 13'%3E%3Cg id='Group 6'%3E%3Cg id='Warstwa_1-2'%3E%3Cg id='Group'%3E%3Cpath id='Vector' d='M71.2642 30.0107V5.48738C68.4911 9.33834 63.9673 11.7489 58.8719 11.7489C51.7056 11.7489 45.6662 6.61098 44.0756 0H43.2426C41.652 6.61098 35.7138 11.7489 28.5476 11.7489C23.4522 11.7489 19.0296 9.33834 16.2598 5.48738V18.4088C36.3018 16.9292 54.4232 21.6163 71.2675 30.0107H71.2642Z' fill='%23F29167'/%3E%3Cpath id='Vector_2' d='M16.2562 34.6228V42.4782C16.2562 57.6796 43.7192 70.0033 43.7192 70.0033C43.7192 70.0033 46.0905 68.9549 49.4058 67.0931C40.7991 55.3507 29.6872 42.2561 16.2529 34.6228H16.2562Z' fill='%23F29167'/%3E%3Cpath id='Vector_3' d='M16.877 20.6789C11.2818 22.7106 5.65396 24.6638 0 26.5583C23.2332 29.4718 39.6528 48.658 52.1693 65.2149C66.1556 61.39 78.1396 54.962 89.6696 46.7799C68.2558 31.1605 44.6339 20.3392 16.877 20.6789ZM8.07102 24.0399C9.22402 23.6447 9.80216 23.4422 10.9552 23.0405C12.2323 23.0568 12.8692 23.0796 14.1463 23.1548C12.879 23.5827 12.2453 23.7917 10.978 24.2131C9.81522 24.1183 9.23382 24.0824 8.07102 24.0399ZM18.5199 25.2877C16.6744 24.9153 15.7501 24.7618 13.9046 24.5234C15.2797 24.0857 15.9657 23.8636 17.3408 23.4128C19.3463 23.6186 20.349 23.759 22.3545 24.1053C20.8194 24.5854 20.0551 24.8238 18.5199 25.2877ZM31.8758 29.4032C28.505 28.0085 26.8196 27.4238 23.4487 26.4799C25.1374 25.9899 25.9834 25.7417 27.6721 25.2256C31.2715 26.1173 33.0745 26.6758 36.674 28.0183C34.7534 28.5932 33.7964 28.8708 31.8758 29.4032ZM41.8903 34.3418C44.0264 33.7376 45.0945 33.4142 47.2307 32.7381C54.7105 36.6413 61.4488 41.4101 67.9716 46.548C65.5807 47.6291 64.3852 48.1321 61.9943 49.0598C55.7198 43.6246 49.21 38.5423 41.887 34.3418H41.8903Z' fill='%23424648'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }

      .gchoice_9_5_2 .gform-field-label::before,
      .gchoice_9_18_1 .gform-field-label::before {
        content: url("data:image/svg+xml,%3Csvg width='67' height='70' viewBox='0 0 67 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M57.2992 51.9726C57.2992 51.9726 53.1572 48.8302 51.7128 42.1635C49.4628 31.7726 43.6883 19.5016 29.1554 19.0391C16.1592 18.6273 10.9846 27.1382 9.05983 32.2083L7.22754 29.7195L8.29289 47.9618L8.45404 55.0075C8.45404 55.0075 10.8175 47.3739 10.6743 44.6285C10.5907 42.9931 9.4239 40.4297 12.244 37.8693C16.2249 34.2614 23.0766 35.9863 26.6248 39.8597L23.6137 43.014C20.9638 42.9305 16.1741 42.9364 16.1741 42.9364C18.3914 50.6476 10.0745 70 10.0745 70L38.9136 57.2874C38.9136 57.2874 31.9784 37.1382 39.9969 36.7204C46.6188 36.3772 43.7301 49.1824 43.7301 49.1824L57.2992 51.9726ZM36.0697 54.7091C36.398 55.8431 36.6457 56.5593 36.6457 56.5593L13.2914 66.8547C13.2914 66.8547 20.0267 51.1847 18.2302 44.9388C18.2302 44.9388 20.1938 44.9388 22.0977 44.9597C21.6054 52.1994 16.8963 63.1603 16.8963 63.1603L36.0667 54.7091H36.0697Z' fill='%23187080'/%3E%3Cpath d='M66.2937 51.9009C55.858 47.9319 56.5921 32.25 50.2716 23.1363C45.6939 16.5353 38.9526 11.6711 27.7828 11.6711C16.613 11.6711 8.52582 20.0507 8.52582 20.0507C5.57745 10.6087 0 9.61496 0 9.61496C0 9.61496 19.8448 -5.23138 39.248 1.97245C58.6512 9.17628 59.454 29.8657 59.9732 35.9265C60.6924 44.3061 66.2937 51.9009 66.2937 51.9009Z' fill='%2325A7BF'/%3E%3Cpath d='M39.7226 15.3655L37.3979 19.9044C38.0545 20.1909 38.4424 20.3968 38.4424 20.3968C39.7853 16.6964 44.1661 18.7675 44.1661 18.7675C42.7575 17.338 41.2595 16.2249 39.7226 15.3655Z' fill='%2325A7BF'/%3E%3Cpath d='M33.7869 13.2021L33.4766 18.6005C33.9123 18.702 34.33 18.8124 34.7269 18.9318L36.3414 13.8796C35.4849 13.5931 34.6314 13.3722 33.7869 13.2021Z' fill='%2325A7BF'/%3E%3Cpath d='M24.6436 13.1007L26.3684 18.1768C27.0399 18.138 27.8187 18.1111 28.6364 18.1111L26.631 12.856C25.9327 12.9186 25.2672 13.0022 24.6436 13.1007Z' fill='%2325A7BF'/%3E%3Cpath d='M37.0845 14.1392L35.479 19.1675C35.9147 19.3137 36.3146 19.463 36.6697 19.6032L39.0302 14.9986C38.3856 14.6733 37.738 14.3868 37.0875 14.1392H37.0845Z' fill='%2325A7BF'/%3E%3Cpath d='M31.137 18.2184C31.4295 18.2452 31.719 18.2781 32.0025 18.3198C32.2382 18.3527 32.474 18.3945 32.7037 18.4362L33.0111 13.0587C32.1427 12.9185 31.2863 12.8289 30.4507 12.7842L31.14 18.2184H31.137Z' fill='%2325A7BF'/%3E%3Cpath d='M27.4487 12.7962L29.481 18.123C29.7645 18.1289 30.0509 18.1409 30.3374 18.1588L29.654 12.7574C28.8961 12.7395 28.159 12.7574 27.4517 12.7992L27.4487 12.7962Z' fill='%2325A7BF'/%3E%3Cpath d='M19.4272 14.4226C22.6949 15.0134 24.199 18.3527 24.199 18.3527C24.199 18.3527 24.7272 18.2901 25.5538 18.2304L23.8588 13.2349C21.167 13.7302 19.4272 14.4226 19.4272 14.4226Z' fill='%2325A7BF'/%3E%3C/svg%3E");
      }

      .gchoice_9_5_3 .gform-field-label::before,
      .gchoice_9_18_2 .gform-field-label::before {
        content: url("data:image/svg+xml,%3Csvg width='40' height='70' viewBox='0 0 40 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M37.2393 65.616H2.19198C0.983035 65.616 0 66.596 0 67.808C0 69.02 0.979982 69.9999 2.19198 69.9999H37.2393C38.4482 69.9999 39.4313 69.02 39.4313 67.808C39.4313 66.596 38.4513 65.616 37.2393 65.616Z' fill='%237869A2'/%3E%3Cpath d='M10.9539 50.6475C10.9539 51.8565 11.9338 52.8395 13.1458 52.8395H26.2886C27.4975 52.8395 28.4806 51.8596 28.4806 50.6475C28.4806 49.4355 27.5006 48.4556 26.2886 48.4556H13.1458C11.9369 48.4556 10.9539 49.4355 10.9539 50.6475Z' fill='%237869A2'/%3E%3Cpath d='M19.7155 32.9743C19.7155 32.9743 18.2135 32.2996 16.3085 31.1426C16.0398 36.4272 15.1087 41.3118 13.6738 45.4424H25.7572C24.3224 41.3087 23.3943 36.4241 23.1226 31.1426C21.2176 32.2996 19.7155 32.9743 19.7155 32.9743Z' fill='%237869A2'/%3E%3Cpath d='M38.1857 61.229C34.9069 61.229 31.8754 59.1317 29.3964 55.5781H10.0349C7.55595 59.1317 4.52442 61.229 1.24561 61.229V62.6975H38.1857V61.229Z' fill='%237869A2'/%3E%3Cpath d='M14.4463 27.1922L19.6699 30.7152L24.8934 27.1922L29.5826 17.1909L19.6699 15.3652L9.75708 17.1909L14.4463 27.1922Z' fill='%237869A2'/%3E%3Cpath d='M25.7207 2.83309C24.4995 3.08038 23.3211 3.25439 22.161 3.35819C22.2648 2.2622 22.4358 1.15094 22.68 0H16.7543C16.9985 1.15094 17.1695 2.2622 17.2733 3.35819C16.1102 3.25439 14.9317 3.08343 13.7136 2.83309V8.75878C14.9317 8.51149 16.1102 8.33748 17.2733 8.23368C17.1695 9.32662 16.9985 10.4379 16.7543 11.5919H22.68C22.4358 10.4409 22.2648 9.32967 22.161 8.23368C23.3211 8.33748 24.4995 8.50844 25.7207 8.75878V2.83309Z' fill='%2354BDCE'/%3E%3Cpath d='M19.7645 13.8358L29.6772 15.6644V9.38462C28.7736 11.0881 26.9846 12.2482 24.9239 12.2482C22.4846 12.2482 20.4269 7.10105 19.7675 4.87549C19.1081 7.10105 17.0504 12.2482 14.6112 12.2482C12.5504 12.2482 10.7584 11.0881 9.85474 9.38462V15.6644L19.7675 13.8358H19.7645Z' fill='%2354BDCE'/%3E%3C/svg%3E");
      }

      .gchoice_9_5_4 .gform-field-label::before,
      .gchoice_9_18_3 .gform-field-label::before {
        content: url("data:image/svg+xml,%3Csvg width='80' height='70' viewBox='0 0 80 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M39.6908 63.2843C36.3798 63.2884 33.1054 62.592 30.0826 61.2409C27.0598 59.8897 24.3571 57.9143 22.1519 55.4445C27.967 56.2052 33.8262 56.5793 39.6908 56.5645C45.5549 56.5792 51.4136 56.2051 57.2282 55.4445C55.0233 57.9142 52.3208 59.8895 49.2983 61.2407C46.2757 62.5919 43.0016 63.2883 39.6908 63.2843ZM39.6908 51.5316C32.4116 51.6075 25.1513 50.7784 18.0766 49.0634C16.5393 45.4866 15.9147 41.584 16.2587 37.7061C16.6027 33.8282 17.9047 30.0965 20.0476 26.8462C22.1906 23.5959 25.1074 20.9288 28.536 19.0846C31.9646 17.2404 35.7976 16.2768 39.6908 16.2803C43.5835 16.278 47.4158 17.2424 50.8438 19.0867C54.2718 20.931 57.1883 23.5976 59.3314 26.8472C61.4745 30.0968 62.7773 33.8277 63.1227 37.705C63.4681 41.5823 62.8455 45.4848 61.3106 49.062C54.2338 50.776 46.9718 51.6055 39.6908 51.5316Z' fill='%23FFB300'/%3E%3Cpath d='M39.6908 69.9999C34.167 69.9943 28.7497 68.4801 24.0235 65.6208C19.2972 62.7616 15.4417 58.6658 12.873 53.7756C14.3037 54.106 15.8129 54.414 17.3417 54.6898C19.7973 58.3662 23.1218 61.3802 27.0207 63.4646C30.9196 65.5491 35.2725 66.6396 39.6936 66.6396C44.1147 66.6396 48.4676 65.5491 52.3665 63.4646C56.2654 61.3802 59.5899 58.3662 62.0456 54.6898C63.5729 54.4098 65.0765 54.1074 66.5143 53.7756C63.9451 58.6667 60.0887 62.763 55.3614 65.6223C50.6341 68.4816 45.2156 69.9953 39.6908 69.9999ZM14.0475 47.8426C12.7065 47.3774 11.3971 46.8256 10.1276 46.1906C9.67686 44.0845 9.4502 41.9367 9.45142 39.7829C9.45289 35.8133 10.2362 31.8828 11.7567 28.2159C13.2772 24.549 15.505 21.2175 18.313 18.4116C21.121 15.6057 24.4541 13.3804 28.1221 11.8626C31.7902 10.3449 35.7212 9.56445 39.6908 9.56592C43.6604 9.56445 47.5915 10.3449 51.2595 11.8626C54.9275 13.3804 58.2607 15.6057 61.0687 18.4116C63.8767 21.2175 66.1045 24.549 67.6249 28.2159C69.1454 31.8828 69.9287 35.8133 69.9302 39.7829C69.931 41.9348 69.7043 44.0807 69.254 46.185C67.9852 46.8225 66.6757 47.3758 65.3341 47.8412C66.597 43.8158 66.8947 39.5497 66.2031 35.3879C65.5115 31.2262 63.8499 27.2857 61.3529 23.8852C58.8559 20.4847 55.5934 17.7197 51.8296 15.8139C48.0657 13.9081 43.9062 12.9151 39.6873 12.9151C35.4685 12.9151 31.3089 13.9081 27.545 15.8139C23.7812 17.7197 20.5188 20.4847 18.0217 23.8852C15.5247 27.2857 13.8632 31.2262 13.1715 35.3879C12.4799 39.5497 12.7776 43.8158 14.0405 47.8412L14.0475 47.8426Z' fill='%23927B4D'/%3E%3Cpath d='M72.4403 13.7841C76.3124 13.7841 79.4513 10.6984 79.4513 6.89206C79.4513 3.08568 76.3124 0 72.4403 0C68.5682 0 65.4292 3.08568 65.4292 6.89206C65.4292 10.6984 68.5682 13.7841 72.4403 13.7841Z' fill='%23FFB300'/%3E%3C/svg%3E%0A");
      }
    }

    input[type="checkbox"]:checked + label,
    input[type="radio"]:checked + label {
      outline: 2px solid #248ccc !important;
      outline-offset: 1px;
      background: #fbfeff !important;
    }

    input[type="checkbox"]:checked + .gform-field-label::before,
    input[type="radio"]:checked + .gform-field-label::before {
      filter: grayscale(0) !important;
    }
  }

  #field_9_6,
  #field_9_13 {
    margin: 80px 0 30px;
    color: $gray-dark;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: -1px;
  }

  #field_9_13 {
    display: none;

    @include respond(phone) {
      display: block;
    }
  }

  #field_9_6 {
    display: block;

    @include respond(phone) {
      display: none;
    }
  }

  & .gform_fields {
    grid-row-gap: unset !important;
  }

  & .gfield--type-text .gform-field-label,
  .gfield--type-phone .gform-field-label {
    margin-bottom: 12px;
    font-size: 15px;
    font-family: "Manrope";
    font-weight: 600;
    line-height: 26px;
    letter-spacing: unset;

    span {
      display: none;
    }
  }

  #field_9_8,
  #field_9_9,
  #field_9_10,
  #field_9_17 {
    margin-bottom: 40px;

    @include respond(phone) {
      margin-bottom: 30px;
    }
  }

  #field_9_12 {
    margin-bottom: 40px;
    text-align: center;
    font-family: "Manrope";
    font-size: 16px;
    line-height: 26px;
    color: $gray-dark;
  }

  .gform_footer {
    margin: 0;
    padding: 0;
    justify-content: center;

    & #gform_submit_button_9 {
      background-color: #d50051;
      color: #fff;
      font-family: "Manrope";
      font-weight: 600;
      line-height: 26px;
      width: unset;
      padding: 10px 30px;
      border-radius: 4px;

      &:hover {
        background-color: #790000;
      }
    }
  }

  #gform_9_validation_container {
    display: none;
  }

  #gform_ajax_spinner_9 {
    display: none;
  }

  .validation_message {
    background: unset;
    border: 0;
    padding: 0;
    margin-top: 8px;
    color: #d50050;
    font-family: "Poppins";
    font-size: 12px;
    letter-spacing: 0.36px;
  }

  .gfield #input_9_8,
  .gfield #input_9_9,
  .gfield #input_9_10,
  .gfield #input_9_17 {
    color: $gray-dark !important;
    font-family: "Manrope" !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    line-height: 26px !important;
  }

  .gfield_error [aria-invalid="true"] {
    border: 1px solid #d50050 !important;
  }
}

#gform_confirmation_wrapper_9,
#gform_confirmation_message_9 {
  text-align: center;
  font-size: 25px !important;
  line-height: 1.2 !important;
  letter-spacing: -1px;
}

#gform_confirmation_wrapper_9 img {
  width: unset;
  height: unset;
}

#gform_confirmation_wrapper_9 img {
  width: unset;
  height: unset;
}

#gform_confirmation_wrapper_9 a {
  font-size: 15px !important;
  font-weight: 600 !important;
  font-family: "Manrope";
  color: #217bc0 !important;
  letter-spacing: 0 !important;

  &:hover {
    color: #d50051 !important;
  }
}

#field_9_5 span,
#field_9_18 span {
  display: none;
}
