@font-face {
    font-family: 'apollo-icons';
    font-display: swap;
    src: url('./74dce_rNdM_apollo-iconsov73h.woff?0f18059497bbf96313f81c5c7f52ba8d') format('woff'), url('./74dce_rNdM_apollo-iconsov73h.woff2?0f18059497bbf96313f81c5c7f52ba8d') format('woff2');
}

.apollo-colored-icon {
    --apollo-colored-icon-height: 1.5em;
    height: var(--apollo-colored-icon-height);
    flex: 0;
}

.apollo-colored-icon svg {
    height: 1em;
    width: 1em;
}

.apollo-colored-icon svg *:not(.no-cascade) {
    fill: currentcolor;
}

[class^='apollo-icon-'],
[class*=' apollo-icon-'],
.apollo-colored-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

[class^='apollo-icon-']::before,
[class*=' apollo-icon-']::before {
    font: normal normal normal 24px/1 apollo-icons;
    font-size: inherit;
    line-height: inherit;
    text-rendering: auto;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.apollo-icon-0-5x::before {
    content: '\f101';
}

.apollo-icon-1-circle::before {
    content: '\f102';
}

.apollo-icon-1-2x::before {
    content: '\f103';
}

.apollo-icon-1-5x::before {
    content: '\f104';
}

.apollo-icon-1-7x::before {
    content: '\f105';
}

.apollo-icon-1x::before {
    content: '\f106';
}

.apollo-icon-2-circle::before {
    content: '\f107';
}

.apollo-icon-2-2x::before {
    content: '\f108';
}

.apollo-icon-2-5x::before {
    content: '\f109';
}

.apollo-icon-2x::before {
    content: '\f10a';
}

.apollo-icon-3-circle::before {
    content: '\f10b';
}

.apollo-icon-3x::before {
    content: '\f10c';
}

.apollo-icon-4-circle::before {
    content: '\f10d';
}

.apollo-icon-add-to-playlist::before {
    content: '\f10e';
}

.apollo-icon-ai-auto-score::before {
    content: '\f10f';
}

.apollo-icon-ai-email::before {
    content: '\f110';
}

.apollo-icon-ai-personalization::before {
    content: '\f111';
}

.apollo-icon-ai-stars-filled::before {
    content: '\f112';
}

.apollo-icon-ai-stars-outline::before {
    content: '\f113';
}

.apollo-icon-ai-stars::before {
    content: '\f114';
}

.apollo-icon-alert-bell::before {
    content: '\f115';
}

.apollo-icon-alert-circle-filled::before {
    content: '\f116';
}

.apollo-icon-alert-circle::before {
    content: '\f117';
}

.apollo-icon-alert-triangle::before {
    content: '\f118';
}

.apollo-icon-alexa::before {
    content: '\f119';
}

.apollo-icon-angel-list::before {
    content: '\f11a';
}

.apollo-icon-anthropic::before {
    content: '\f11b';
}

.apollo-icon-apollo-ai-assistant::before {
    content: '\f11c';
}

.apollo-icon-apollo-ai::before {
    content: '\f11d';
}

.apollo-icon-apollo-full-logo::before {
    content: '\f11e';
}

.apollo-icon-apollo-logo::before {
    content: '\f11f';
}

.apollo-icon-apollo::before {
    content: '\f120';
}

.apollo-icon-archive-box::before {
    content: '\f121';
}

.apollo-icon-area-chart::before {
    content: '\f122';
}

.apollo-icon-array::before {
    content: '\f123';
}

.apollo-icon-arrow-corner-down-right::before {
    content: '\f124';
}

.apollo-icon-arrow-corner-up-right::before {
    content: '\f125';
}

.apollo-icon-arrow-down-circle::before {
    content: '\f126';
}

.apollo-icon-arrow-down::before {
    content: '\f127';
}

.apollo-icon-arrow-left::before {
    content: '\f128';
}

.apollo-icon-arrow-right::before {
    content: '\f129';
}

.apollo-icon-arrow-up-circle::before {
    content: '\f12a';
}

.apollo-icon-arrow-up::before {
    content: '\f12b';
}

.apollo-icon-arrows-merge::before {
    content: '\f12c';
}

.apollo-icon-associate::before {
    content: '\f12d';
}

.apollo-icon-association::before {
    content: '\f12e';
}

.apollo-icon-auto-flash::before {
    content: '\f12f';
}

.apollo-icon-ban::before {
    content: '\f130';
}

.apollo-icon-bar-chart-axis-horizontal::before {
    content: '\f131';
}

.apollo-icon-bar-chart-axis::before {
    content: '\f132';
}

.apollo-icon-bar-chart-horz::before {
    content: '\f133';
}

.apollo-icon-bell-slash::before {
    content: '\f134';
}

.apollo-icon-bell::before {
    content: '\f135';
}

.apollo-icon-bold::before {
    content: '\f136';
}

.apollo-icon-book-open::before {
    content: '\f137';
}

.apollo-icon-bookmark-filled::before {
    content: '\f138';
}

.apollo-icon-bookmark-outline::before {
    content: '\f139';
}

.apollo-icon-books::before {
    content: '\f13a';
}

.apollo-icon-bot::before {
    content: '\f13b';
}

.apollo-icon-box-product::before {
    content: '\f13c';
}

.apollo-icon-briefcase::before {
    content: '\f13d';
}

.apollo-icon-bubble-question::before {
    content: '\f13e';
}

.apollo-icon-bug::before {
    content: '\f13f';
}

.apollo-icon-bulleted-list::before {
    content: '\f140';
}

.apollo-icon-calendar-associate::before {
    content: '\f141';
}

.apollo-icon-calendar-backwards::before {
    content: '\f142';
}

.apollo-icon-calendar-check::before {
    content: '\f143';
}

.apollo-icon-calendar-clock::before {
    content: '\f144';
}

.apollo-icon-calendar-forward::before {
    content: '\f145';
}

.apollo-icon-calendar-question::before {
    content: '\f146';
}

.apollo-icon-calendar-rewind::before {
    content: '\f147';
}

.apollo-icon-calendar-slash::before {
    content: '\f148';
}

.apollo-icon-calendar-warning::before {
    content: '\f149';
}

.apollo-icon-calendar::before {
    content: '\f14a';
}

.apollo-icon-call-assistant::before {
    content: '\f14b';
}

.apollo-icon-camera-reel::before {
    content: '\f14c';
}

.apollo-icon-caret-down-small-circle::before {
    content: '\f14d';
}

.apollo-icon-caret-down-small::before {
    content: '\f14e';
}

.apollo-icon-caret-left-small::before {
    content: '\f14f';
}

.apollo-icon-caret-left::before {
    content: '\f150';
}

.apollo-icon-caret-right-small::before {
    content: '\f151';
}

.apollo-icon-caret-right::before {
    content: '\f152';
}

.apollo-icon-caret-up-small-circle::before {
    content: '\f153';
}

.apollo-icon-caret-up-small::before {
    content: '\f154';
}

.apollo-icon-chart-line::before {
    content: '\f155';
}

.apollo-icon-check-circle-fill::before {
    content: '\f156';
}

.apollo-icon-check-circle-task::before {
    content: '\f157';
}

.apollo-icon-check-circle::before {
    content: '\f158';
}

.apollo-icon-check-square-fill::before {
    content: '\f159';
}

.apollo-icon-check-square-task::before {
    content: '\f15a';
}

.apollo-icon-check-square::before {
    content: '\f15b';
}

.apollo-icon-check-table::before {
    content: '\f15c';
}

.apollo-icon-check::before {
    content: '\f15d';
}

.apollo-icon-checkbox-alt1::before {
    content: '\f15e';
}

.apollo-icon-checkbox-alt2::before {
    content: '\f15f';
}

.apollo-icon-checkbox-list::before {
    content: '\f160';
}

.apollo-icon-checklist::before {
    content: '\f161';
}

.apollo-icon-chevron-arrow-down-circle::before {
    content: '\f162';
}

.apollo-icon-chevron-arrow-down::before {
    content: '\f163';
}

.apollo-icon-chevron-arrow-left::before {
    content: '\f164';
}

.apollo-icon-chevron-arrow-right::before {
    content: '\f165';
}

.apollo-icon-chevron-arrow-up::before {
    content: '\f166';
}

.apollo-icon-circle-down-small::before {
    content: '\f167';
}

.apollo-icon-circle::before {
    content: '\f168';
}

.apollo-icon-claude::before {
    content: '\f169';
}

.apollo-icon-clock-eight::before {
    content: '\f16a';
}

.apollo-icon-cloud-check::before {
    content: '\f16b';
}

.apollo-icon-cloud-computing::before {
    content: '\f16c';
}

.apollo-icon-cloud-data-tree::before {
    content: '\f16d';
}

.apollo-icon-cloud-download::before {
    content: '\f16e';
}

.apollo-icon-cloud-upload::before {
    content: '\f16f';
}

.apollo-icon-cockpit::before {
    content: '\f170';
}

.apollo-icon-code-branch::before {
    content: '\f171';
}

.apollo-icon-code::before {
    content: '\f172';
}

.apollo-icon-cog-check::before {
    content: '\f173';
}

.apollo-icon-cog::before {
    content: '\f174';
}

.apollo-icon-coins::before {
    content: '\f175';
}

.apollo-icon-column-chart::before {
    content: '\f176';
}

.apollo-icon-combine::before {
    content: '\f177';
}

.apollo-icon-command-v-alt::before {
    content: '\f178';
}

.apollo-icon-command-v::before {
    content: '\f179';
}

.apollo-icon-comment-add::before {
    content: '\f17a';
}

.apollo-icon-comment-slash::before {
    content: '\f17b';
}

.apollo-icon-comment::before {
    content: '\f17c';
}

.apollo-icon-company-check-colored::before {
    content: '\f17d';
}

.apollo-icon-company-cog::before {
    content: '\f17e';
}

.apollo-icon-company-download-colored::before {
    content: '\f17f';
}

.apollo-icon-company-error-colored::before {
    content: '\f180';
}

.apollo-icon-company-info-colored::before {
    content: '\f181';
}

.apollo-icon-company-multiple::before {
    content: '\f182';
}

.apollo-icon-company-plus::before {
    content: '\f183';
}

.apollo-icon-company-progress-colored::before {
    content: '\f184';
}

.apollo-icon-company-question-colored::before {
    content: '\f185';
}

.apollo-icon-company-remove::before {
    content: '\f186';
}

.apollo-icon-company-star::before {
    content: '\f187';
}

.apollo-icon-company-switch::before {
    content: '\f188';
}

.apollo-icon-company-table::before {
    content: '\f189';
}

.apollo-icon-company::before {
    content: '\f18a';
}

.apollo-icon-contact-role::before {
    content: '\f18b';
}

.apollo-icon-copy::before {
    content: '\f18c';
}

.apollo-icon-credit-card-off::before {
    content: '\f18d';
}

.apollo-icon-credit-card-plus::before {
    content: '\f18e';
}

.apollo-icon-credit-card-search::before {
    content: '\f18f';
}

.apollo-icon-cross::before {
    content: '\f190';
}

.apollo-icon-crown::before {
    content: '\f191';
}

.apollo-icon-csv-doc::before {
    content: '\f192';
}

.apollo-icon-cursor::before {
    content: '\f193';
}

.apollo-icon-custom-fields::before {
    content: '\f194';
}

.apollo-icon-dashboard-plus::before {
    content: '\f195';
}

.apollo-icon-data-enrichment::before {
    content: '\f196';
}

.apollo-icon-data-hourglass::before {
    content: '\f197';
}

.apollo-icon-data-monitor::before {
    content: '\f198';
}

.apollo-icon-data-sync::before {
    content: '\f199';
}

.apollo-icon-desktop::before {
    content: '\f19a';
}

.apollo-icon-diagnose::before {
    content: '\f19b';
}

.apollo-icon-dialpad::before {
    content: '\f19c';
}

.apollo-icon-diamond::before {
    content: '\f19d';
}

.apollo-icon-dollar-circle::before {
    content: '\f19e';
}

.apollo-icon-dollar-kanban::before {
    content: '\f19f';
}

.apollo-icon-dollar-square::before {
    content: '\f1a0';
}

.apollo-icon-dollar-table::before {
    content: '\f1a1';
}

.apollo-icon-dollar::before {
    content: '\f1a2';
}

.apollo-icon-donut-chart::before {
    content: '\f1a3';
}

.apollo-icon-double-arrow-down::before {
    content: '\f1a4';
}

.apollo-icon-double-arrow-left::before {
    content: '\f1a5';
}

.apollo-icon-double-arrow-right::before {
    content: '\f1a6';
}

.apollo-icon-double-arrow-up::before {
    content: '\f1a7';
}

.apollo-icon-download::before {
    content: '\f1a8';
}

.apollo-icon-drag-and-sort::before {
    content: '\f1a9';
}

.apollo-icon-drag-reorder::before {
    content: '\f1aa';
}

.apollo-icon-dropdown-large::before {
    content: '\f1ab';
}

.apollo-icon-dropdown-up-large::before {
    content: '\f1ac';
}

.apollo-icon-duplicate::before {
    content: '\f1ad';
}

.apollo-icon-dynamic-variable::before {
    content: '\f1ae';
}

.apollo-icon-ellipse::before {
    content: '\f1af';
}

.apollo-icon-email-check::before {
    content: '\f1b0';
}

.apollo-icon-email-error::before {
    content: '\f1b1';
}

.apollo-icon-email-info-colored::before {
    content: '\f1b2';
}

.apollo-icon-email-manual::before {
    content: '\f1b3';
}

.apollo-icon-email-progress::before {
    content: '\f1b4';
}

.apollo-icon-email-question::before {
    content: '\f1b5';
}

.apollo-icon-email-star-outline::before {
    content: '\f1b6';
}

.apollo-icon-email-status::before {
    content: '\f1b7';
}

.apollo-icon-email-table::before {
    content: '\f1b8';
}

.apollo-icon-emoji-annoyed-face::before {
    content: '\f1b9';
}

.apollo-icon-emoji-happy-face::before {
    content: '\f1ba';
}

.apollo-icon-emoji-sad-face::before {
    content: '\f1bb';
}

.apollo-icon-enrichment-auto::before {
    content: '\f1bc';
}

.apollo-icon-enrichment-refresh::before {
    content: '\f1bd';
}

.apollo-icon-enrichment-strike::before {
    content: '\f1be';
}

.apollo-icon-event-delay::before {
    content: '\f1bf';
}

.apollo-icon-exchange::before {
    content: '\f1c0';
}

.apollo-icon-external-link::before {
    content: '\f1c1';
}

.apollo-icon-eye-filled::before {
    content: '\f1c2';
}

.apollo-icon-eye-on::before {
    content: '\f1c3';
}

.apollo-icon-eye-slash::before {
    content: '\f1c4';
}

.apollo-icon-facebook-square-filled::before {
    content: '\f1c5';
}

.apollo-icon-facebook::before {
    content: '\f1c6';
}

.apollo-icon-file-alt::before {
    content: '\f1c7';
}

.apollo-icon-file-check::before {
    content: '\f1c8';
}

.apollo-icon-file-edit::before {
    content: '\f1c9';
}

.apollo-icon-file-lock::before {
    content: '\f1ca';
}

.apollo-icon-file-upload::before {
    content: '\f1cb';
}

.apollo-icon-file::before {
    content: '\f1cc';
}

.apollo-icon-filter-slider::before {
    content: '\f1cd';
}

.apollo-icon-filter::before {
    content: '\f1ce';
}

.apollo-icon-flag::before {
    content: '\f1cf';
}

.apollo-icon-folder-open::before {
    content: '\f1d0';
}

.apollo-icon-folder-plus::before {
    content: '\f1d1';
}

.apollo-icon-folder::before {
    content: '\f1d2';
}

.apollo-icon-folders::before {
    content: '\f1d3';
}

.apollo-icon-forward-10::before {
    content: '\f1d4';
}

.apollo-icon-function::before {
    content: '\f1d5';
}

.apollo-icon-funnel-chart::before {
    content: '\f1d6';
}

.apollo-icon-generate-pipeline::before {
    content: '\f1d7';
}

.apollo-icon-gift::before {
    content: '\f1d8';
}

.apollo-icon-globe::before {
    content: '\f1d9';
}

.apollo-icon-go-to-market-platform::before {
    content: '\f1da';
}

.apollo-icon-google-chrome::before {
    content: '\f1db';
}

.apollo-icon-google-logo::before {
    content: '\f1dc';
}

.apollo-icon-google-meet::before {
    content: '\f1dd';
}

.apollo-icon-google::before {
    content: '\f1de';
}

.apollo-icon-graduation-cap::before {
    content: '\f1df';
}

.apollo-icon-greenhouse::before {
    content: '\f1e0';
}

.apollo-icon-grid-plus::before {
    content: '\f1e1';
}

.apollo-icon-grid::before {
    content: '\f1e2';
}

.apollo-icon-growth-down::before {
    content: '\f1e3';
}

.apollo-icon-growth-up::before {
    content: '\f1e4';
}

.apollo-icon-hand-waving::before {
    content: '\f1e5';
}

.apollo-icon-hard-bounce::before {
    content: '\f1e6';
}

.apollo-icon-heart::before {
    content: '\f1e7';
}

.apollo-icon-heartbeat-status::before {
    content: '\f1e8';
}

.apollo-icon-heatmap::before {
    content: '\f1e9';
}

.apollo-icon-hide-arrow-left::before {
    content: '\f1ea';
}

.apollo-icon-hide-arrow-right::before {
    content: '\f1eb';
}

.apollo-icon-hierarchy-child::before {
    content: '\f1ec';
}

.apollo-icon-hierarchy-parent-child::before {
    content: '\f1ed';
}

.apollo-icon-hierarchy-parent::before {
    content: '\f1ee';
}

.apollo-icon-history::before {
    content: '\f1ef';
}

.apollo-icon-home::before {
    content: '\f1f0';
}

.apollo-icon-hubspot-failed::before {
    content: '\f1f1';
}

.apollo-icon-hubspot::before {
    content: '\f1f2';
}

.apollo-icon-image-placeholder::before {
    content: '\f1f3';
}

.apollo-icon-inbox::before {
    content: '\f1f4';
}

.apollo-icon-industry::before {
    content: '\f1f5';
}

.apollo-icon-info-circle::before {
    content: '\f1f6';
}

.apollo-icon-intent-data::before {
    content: '\f1f7';
}

.apollo-icon-italic::before {
    content: '\f1f8';
}

.apollo-icon-kbd-copy::before {
    content: '\f1f9';
}

.apollo-icon-kbd-cut::before {
    content: '\f1fa';
}

.apollo-icon-kbd-paste::before {
    content: '\f1fb';
}

.apollo-icon-key-inclined::before {
    content: '\f1fc';
}

.apollo-icon-language::before {
    content: '\f1fd';
}

.apollo-icon-languages::before {
    content: '\f1fe';
}

.apollo-icon-laptop-computer::before {
    content: '\f1ff';
}

.apollo-icon-layer-group::before {
    content: '\f200';
}

.apollo-icon-layout::before {
    content: '\f201';
}

.apollo-icon-learn-more::before {
    content: '\f202';
}

.apollo-icon-life-buoy::before {
    content: '\f203';
}

.apollo-icon-lightbulb::before {
    content: '\f204';
}

.apollo-icon-lightning::before {
    content: '\f205';
}

.apollo-icon-link-off::before {
    content: '\f206';
}

.apollo-icon-link-plus::before {
    content: '\f207';
}

.apollo-icon-link-square-filled::before {
    content: '\f208';
}

.apollo-icon-link::before {
    content: '\f209';
}

.apollo-icon-linkedin::before {
    content: '\f20a';
}

.apollo-icon-list-check::before {
    content: '\f20b';
}

.apollo-icon-list-checked::before {
    content: '\f20c';
}

.apollo-icon-list-deselect::before {
    content: '\f20d';
}

.apollo-icon-list-ordered::before {
    content: '\f20e';
}

.apollo-icon-list-plus::before {
    content: '\f20f';
}

.apollo-icon-list-table-view::before {
    content: '\f210';
}

.apollo-icon-list-times::before {
    content: '\f211';
}

.apollo-icon-list-ui::before {
    content: '\f212';
}

.apollo-icon-loading::before {
    content: '\f213';
}

.apollo-icon-location::before {
    content: '\f214';
}

.apollo-icon-log-in::before {
    content: '\f215';
}

.apollo-icon-log-out::before {
    content: '\f216';
}

.apollo-icon-magic-rewriting::before {
    content: '\f217';
}

.apollo-icon-magic-wand::before {
    content: '\f218';
}

.apollo-icon-magnet::before {
    content: '\f219';
}

.apollo-icon-mail-block::before {
    content: '\f21a';
}

.apollo-icon-mail-download-colored::before {
    content: '\f21b';
}

.apollo-icon-mail-download::before {
    content: '\f21c';
}

.apollo-icon-mail-envelope-question::before {
    content: '\f21d';
}

.apollo-icon-mail-filled::before {
    content: '\f21e';
}

.apollo-icon-mail-info::before {
    content: '\f21f';
}

.apollo-icon-mail-lock::before {
    content: '\f220';
}

.apollo-icon-mail-minus-colored::before {
    content: '\f221';
}

.apollo-icon-mail-minus::before {
    content: '\f222';
}

.apollo-icon-mail-open::before {
    content: '\f223';
}

.apollo-icon-mail-plus-colored::before {
    content: '\f224';
}

.apollo-icon-mail-search-colored-1::before {
    content: '\f225';
}

.apollo-icon-mail-search-colored::before {
    content: '\f226';
}

.apollo-icon-mail-star-colored::before {
    content: '\f227';
}

.apollo-icon-mail-times-colored::before {
    content: '\f228';
}

.apollo-icon-mail-times::before {
    content: '\f229';
}

.apollo-icon-mail-upload-colored::before {
    content: '\f22a';
}

.apollo-icon-mail-upload::before {
    content: '\f22b';
}

.apollo-icon-mail::before {
    content: '\f22c';
}

.apollo-icon-mailgun::before {
    content: '\f22d';
}

.apollo-icon-mails::before {
    content: '\f22e';
}

.apollo-icon-mastercard-logo::before {
    content: '\f22f';
}

.apollo-icon-maximize-screen::before {
    content: '\f230';
}

.apollo-icon-maximize::before {
    content: '\f231';
}

.apollo-icon-medal::before {
    content: '\f232';
}

.apollo-icon-meeting-source::before {
    content: '\f233';
}

.apollo-icon-megaphone::before {
    content: '\f234';
}

.apollo-icon-menu::before {
    content: '\f235';
}

.apollo-icon-mic-on::before {
    content: '\f236';
}

.apollo-icon-mic-slash::before {
    content: '\f237';
}

.apollo-icon-microsoft-teams::before {
    content: '\f238';
}

.apollo-icon-microsoft::before {
    content: '\f239';
}

.apollo-icon-mini::before {
    content: '\f23a';
}

.apollo-icon-minimize-screen::before {
    content: '\f23b';
}

.apollo-icon-minimize::before {
    content: '\f23c';
}

.apollo-icon-minus-circle::before {
    content: '\f23d';
}

.apollo-icon-minus::before {
    content: '\f23e';
}

.apollo-icon-mobile::before {
    content: '\f23f';
}

.apollo-icon-money-bag::before {
    content: '\f240';
}

.apollo-icon-money-stack::before {
    content: '\f241';
}

.apollo-icon-moon::before {
    content: '\f242';
}

.apollo-icon-more-h::before {
    content: '\f243';
}

.apollo-icon-mouse-pointer::before {
    content: '\f244';
}

.apollo-icon-move::before {
    content: '\f245';
}

.apollo-icon-multi-credit::before {
    content: '\f246';
}

.apollo-icon-multi-line-text::before {
    content: '\f247';
}

.apollo-icon-multi-split::before {
    content: '\f248';
}

.apollo-icon-mute::before {
    content: '\f249';
}

.apollo-icon-nested-circles::before {
    content: '\f24a';
}

.apollo-icon-news-filter::before {
    content: '\f24b';
}

.apollo-icon-no-email-available::before {
    content: '\f24c';
}

.apollo-icon-no-video-camera::before {
    content: '\f24d';
}

.apollo-icon-notes-check::before {
    content: '\f24e';
}

.apollo-icon-notes-plus::before {
    content: '\f24f';
}

.apollo-icon-notes::before {
    content: '\f250';
}

.apollo-icon-number::before {
    content: '\f251';
}

.apollo-icon-openai::before {
    content: '\f252';
}

.apollo-icon-ordered-list::before {
    content: '\f253';
}

.apollo-icon-outreach::before {
    content: '\f254';
}

.apollo-icon-padlock::before {
    content: '\f255';
}

.apollo-icon-paperclip::before {
    content: '\f256';
}

.apollo-icon-pause-circle::before {
    content: '\f257';
}

.apollo-icon-pause::before {
    content: '\f258';
}

.apollo-icon-pen-slash::before {
    content: '\f259';
}

.apollo-icon-pen::before {
    content: '\f25a';
}

.apollo-icon-percent::before {
    content: '\f25b';
}

.apollo-icon-perplexity::before {
    content: '\f25c';
}

.apollo-icon-persistent-checklist::before {
    content: '\f25d';
}

.apollo-icon-phone-check::before {
    content: '\f25e';
}

.apollo-icon-phone-decline::before {
    content: '\f25f';
}

.apollo-icon-phone-download-colored::before {
    content: '\f260';
}

.apollo-icon-phone-download::before {
    content: '\f261';
}

.apollo-icon-phone-error::before {
    content: '\f262';
}

.apollo-icon-phone-in::before {
    content: '\f263';
}

.apollo-icon-phone-info-colored::before {
    content: '\f264';
}

.apollo-icon-phone-out::before {
    content: '\f265';
}

.apollo-icon-phone-progress::before {
    content: '\f266';
}

.apollo-icon-phone-question-colored::before {
    content: '\f267';
}

.apollo-icon-phone-table::before {
    content: '\f268';
}

.apollo-icon-phone-times::before {
    content: '\f269';
}

.apollo-icon-phone::before {
    content: '\f26a';
}

.apollo-icon-picture-in-picture::before {
    content: '\f26b';
}

.apollo-icon-picture::before {
    content: '\f26c';
}

.apollo-icon-pie-chart-2::before {
    content: '\f26d';
}

.apollo-icon-pie-chart::before {
    content: '\f26e';
}

.apollo-icon-pipedrive-failed::before {
    content: '\f26f';
}

.apollo-icon-pipedrive::before {
    content: '\f270';
}

.apollo-icon-pipeline-builder::before {
    content: '\f271';
}

.apollo-icon-pipeline::before {
    content: '\f272';
}

.apollo-icon-play-circle::before {
    content: '\f273';
}

.apollo-icon-play::before {
    content: '\f274';
}

.apollo-icon-player-in-player::before {
    content: '\f275';
}

.apollo-icon-plus-circle-filled::before {
    content: '\f276';
}

.apollo-icon-plus-circle::before {
    content: '\f277';
}

.apollo-icon-plus::before {
    content: '\f278';
}

.apollo-icon-pointer::before {
    content: '\f279';
}

.apollo-icon-powerup_ai::before {
    content: '\f27a';
}

.apollo-icon-powerup_icon::before {
    content: '\f27b';
}

.apollo-icon-puzzle::before {
    content: '\f27c';
}

.apollo-icon-question-circle-filled::before {
    content: '\f27d';
}

.apollo-icon-question-circle::before {
    content: '\f27e';
}

.apollo-icon-record::before {
    content: '\f27f';
}

.apollo-icon-reddit::before {
    content: '\f280';
}

.apollo-icon-redo::before {
    content: '\f281';
}

.apollo-icon-refresh::before {
    content: '\f282';
}

.apollo-icon-remove-from-playlist::before {
    content: '\f283';
}

.apollo-icon-reorder::before {
    content: '\f284';
}

.apollo-icon-repeat::before {
    content: '\f285';
}

.apollo-icon-reply::before {
    content: '\f286';
}

.apollo-icon-rewind-10::before {
    content: '\f287';
}

.apollo-icon-rocket::before {
    content: '\f288';
}

.apollo-icon-rotate-left::before {
    content: '\f289';
}

.apollo-icon-rotate-right::before {
    content: '\f28a';
}

.apollo-icon-salesforce::before {
    content: '\f28b';
}

.apollo-icon-salesloft::before {
    content: '\f28c';
}

.apollo-icon-scissors::before {
    content: '\f28d';
}

.apollo-icon-score::before {
    content: '\f28e';
}

.apollo-icon-search-checked::before {
    content: '\f28f';
}

.apollo-icon-search-companies::before {
    content: '\f290';
}

.apollo-icon-search-cross::before {
    content: '\f291';
}

.apollo-icon-search-user::before {
    content: '\f292';
}

.apollo-icon-search::before {
    content: '\f293';
}

.apollo-icon-send-inclined::before {
    content: '\f294';
}

.apollo-icon-send-right::before {
    content: '\f295';
}

.apollo-icon-sendgrid::before {
    content: '\f296';
}

.apollo-icon-sequence-check::before {
    content: '\f297';
}

.apollo-icon-sequence-error::before {
    content: '\f298';
}

.apollo-icon-sequence-play::before {
    content: '\f299';
}

.apollo-icon-sequence-question::before {
    content: '\f29a';
}

.apollo-icon-sequence-sending-progress::before {
    content: '\f29b';
}

.apollo-icon-sequence-table::before {
    content: '\f29c';
}

.apollo-icon-sequence::before {
    content: '\f29d';
}

.apollo-icon-server-database::before {
    content: '\f29e';
}

.apollo-icon-share::before {
    content: '\f29f';
}

.apollo-icon-shield::before {
    content: '\f2a0';
}

.apollo-icon-sic-code::before {
    content: '\f2a1';
}

.apollo-icon-side-panel::before {
    content: '\f2a2';
}

.apollo-icon-sidebar-collapse::before {
    content: '\f2a3';
}

.apollo-icon-sidebar-expand::before {
    content: '\f2a4';
}

.apollo-icon-signal-1::before {
    content: '\f2a5';
}

.apollo-icon-signal-2::before {
    content: '\f2a6';
}

.apollo-icon-signal-3::before {
    content: '\f2a7';
}

.apollo-icon-signals::before {
    content: '\f2a8';
}

.apollo-icon-single-credit::before {
    content: '\f2a9';
}

.apollo-icon-skip-forward::before {
    content: '\f2aa';
}

.apollo-icon-slack::before {
    content: '\f2ab';
}

.apollo-icon-sliders-settings::before {
    content: '\f2ac';
}

.apollo-icon-sort-accending::before {
    content: '\f2ad';
}

.apollo-icon-sort-ascending::before {
    content: '\f2ae';
}

.apollo-icon-sort-decending::before {
    content: '\f2af';
}

.apollo-icon-sort-descending::before {
    content: '\f2b0';
}

.apollo-icon-sort::before {
    content: '\f2b1';
}

.apollo-icon-spot-create-alert::before {
    content: '\f2b2';
}

.apollo-icon-star-empty::before {
    content: '\f2b3';
}

.apollo-icon-star-filled::before {
    content: '\f2b4';
}

.apollo-icon-status-activity::before {
    content: '\f2b5';
}

.apollo-icon-stop-circle::before {
    content: '\f2b6';
}

.apollo-icon-stopwatch::before {
    content: '\f2b7';
}

.apollo-icon-strikethrough::before {
    content: '\f2b8';
}

.apollo-icon-sum::before {
    content: '\f2b9';
}

.apollo-icon-sun::before {
    content: '\f2ba';
}

.apollo-icon-support::before {
    content: '\f2bb';
}

.apollo-icon-swatch::before {
    content: '\f2bc';
}

.apollo-icon-table-file::before {
    content: '\f2bd';
}

.apollo-icon-tag-user::before {
    content: '\f2be';
}

.apollo-icon-tag::before {
    content: '\f2bf';
}

.apollo-icon-talking::before {
    content: '\f2c0';
}

.apollo-icon-text-title::before {
    content: '\f2c1';
}

.apollo-icon-thumbs-down-filled::before {
    content: '\f2c2';
}

.apollo-icon-thumbs-down::before {
    content: '\f2c3';
}

.apollo-icon-thumbs-up-filled::before {
    content: '\f2c4';
}

.apollo-icon-thumbs-up::before {
    content: '\f2c5';
}

.apollo-icon-thumbtack::before {
    content: '\f2c6';
}

.apollo-icon-tiles::before {
    content: '\f2c7';
}

.apollo-icon-times-circle-filled::before {
    content: '\f2c8';
}

.apollo-icon-times-circle::before {
    content: '\f2c9';
}

.apollo-icon-times::before {
    content: '\f2ca';
}

.apollo-icon-toggle-list::before {
    content: '\f2cb';
}

.apollo-icon-token::before {
    content: '\f2cc';
}

.apollo-icon-traffic-light::before {
    content: '\f2cd';
}

.apollo-icon-trash::before {
    content: '\f2ce';
}

.apollo-icon-trello-board::before {
    content: '\f2cf';
}

.apollo-icon-trigger::before {
    content: '\f2d0';
}

.apollo-icon-trophy-filled::before {
    content: '\f2d1';
}

.apollo-icon-trophy-sales::before {
    content: '\f2d2';
}

.apollo-icon-trophy::before {
    content: '\f2d3';
}

.apollo-icon-true-false::before {
    content: '\f2d4';
}

.apollo-icon-twitter-square-filled::before {
    content: '\f2d5';
}

.apollo-icon-twitter::before {
    content: '\f2d6';
}

.apollo-icon-underline::before {
    content: '\f2d7';
}

.apollo-icon-undo::before {
    content: '\f2d8';
}

.apollo-icon-unflag::before {
    content: '\f2d9';
}

.apollo-icon-unverified::before {
    content: '\f2da';
}

.apollo-icon-up-down-caret::before {
    content: '\f2db';
}

.apollo-icon-update-required::before {
    content: '\f2dc';
}

.apollo-icon-upload::before {
    content: '\f2dd';
}

.apollo-icon-user-bubble::before {
    content: '\f2de';
}

.apollo-icon-user-check::before {
    content: '\f2df';
}

.apollo-icon-user-circle::before {
    content: '\f2e0';
}

.apollo-icon-user-download-colored::before {
    content: '\f2e1';
}

.apollo-icon-user-exclamation::before {
    content: '\f2e2';
}

.apollo-icon-user-filled::before {
    content: '\f2e3';
}

.apollo-icon-user-minus::before {
    content: '\f2e4';
}

.apollo-icon-user-plus::before {
    content: '\f2e5';
}

.apollo-icon-user-question::before {
    content: '\f2e6';
}

.apollo-icon-user-refresh::before {
    content: '\f2e7';
}

.apollo-icon-user-square::before {
    content: '\f2e8';
}

.apollo-icon-user-star::before {
    content: '\f2e9';
}

.apollo-icon-user-table::before {
    content: '\f2ea';
}

.apollo-icon-user-talking::before {
    content: '\f2eb';
}

.apollo-icon-user-times::before {
    content: '\f2ec';
}

.apollo-icon-user-upload::before {
    content: '\f2ed';
}

.apollo-icon-user::before {
    content: '\f2ee';
}

.apollo-icon-users::before {
    content: '\f2ef';
}

.apollo-icon-vector::before {
    content: '\f2f0';
}

.apollo-icon-verified::before {
    content: '\f2f1';
}

.apollo-icon-video-camera-off::before {
    content: '\f2f2';
}

.apollo-icon-video-camera::before {
    content: '\f2f3';
}

.apollo-icon-video-pause::before {
    content: '\f2f4';
}

.apollo-icon-video-play::before {
    content: '\f2f5';
}

.apollo-icon-view-grid-list::before {
    content: '\f2f6';
}

.apollo-icon-view-list::before {
    content: '\f2f7';
}

.apollo-icon-voicemail::before {
    content: '\f2f8';
}

.apollo-icon-volume::before {
    content: '\f2f9';
}

.apollo-icon-wallet::before {
    content: '\f2fa';
}

.apollo-icon-waterfall::before {
    content: '\f2fb';
}

.apollo-icon-webhook::before {
    content: '\f2fc';
}

.apollo-icon-website-visitors::before {
    content: '\f2fd';
}

.apollo-icon-window-equal::before {
    content: '\f2fe';
}

.apollo-icon-window-maximize::before {
    content: '\f2ff';
}

.apollo-icon-window-minimize::before {
    content: '\f300';
}

.apollo-icon-world::before {
    content: '\f301';
}

.apollo-icon-wrench::before {
    content: '\f302';
}

.apollo-icon-yelp::before {
    content: '\f303';
}

.apollo-icon-zoom::before {
    content: '\f304';
}